Repository microsoft/msquic, pull requests merged in 2020-12, with the labels that each got.

#1069 Bump openssl cache number
  .azure/templates/build-config-user.yml
Labels: Area: Build, Area: Pipeline, TLS: OpenSSL

#1071 WPA: Datapath Batching Improvements
  src/plugins/wpa/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/wpa/DataModel/QuicDatapath.cs
  src/plugins/wpa/Tables/QuicDataBatchingTable.cs
Labels: Area: Logging, Area: Performance

#1070 Bump openssl cache number (#1069)
  .azure/templates/build-config-user.yml
Labels: Area: Build, Area: Pipeline, TLS: OpenSSL

#1074 Distribute x86 and arm64 builds of openssl windows binaries.
  .azure/templates/build-distribution.yml
Labels: OS: Windows (User), TLS: OpenSSL

#1075 Distribute x86 and arm64 builds of openssl windows binaries. (#1074)
  .azure/templates/build-distribution.yml
Labels: Area: Build, Area: Pipeline, OS: Windows (User), TLS: OpenSSL

#1078 Don't Include Packet Processing Time in RTT
  src/core/ack_tracker.c
  src/core/ack_tracker.h
  src/core/connection.c
Labels: Area: Core, Area: Performance

#1079 Don't Include Packet Processing Time in RTT (#1078)
  src/core/ack_tracker.c
  src/core/ack_tracker.h
  src/core/connection.c
Labels: Area: Core, Area: Performance

#1065 Decrease Pacing Interval and Disablement Threshold
  src/core/congestion_control.c
  src/core/quicdef.h
  src/core/stream_recv.c
Labels: Area: Core, Area: Performance

#1076 Fix ChaCha20 bug in mitls and update logging.
  .azure/azure-pipelines.ci.yml
  scripts/run_endpoint.sh
  src/platform/tls_mitls.c
  src/platform/tls_openssl.c
  src/platform/unittest/CryptTest.cpp
Labels: Area: Testing, TLS: OpenSSL, TLS: miTLS

#1080 Fix nullptr deref in test stream creation on connection failure.
  src/test/lib/TestConnection.cpp
  src/test/lib/TestStream.cpp
Labels: Area: Testing

#1068 Add Magic Value Setting to Force Failure/Assert
  src/core/stream.c
Labels: Area: Core, Area: Testing

#1083 Skip new tests for Schannel internal CI.
  .azure/azure-pipelines-int.ci.yml
Labels: Area: Pipeline

#1084 Replace Output Directory with Path
  scripts/emulated-performance.ps1
  scripts/log.ps1
  scripts/run-executable.ps1
  scripts/run-gtest.ps1
  scripts/update-sidecar.ps1
Labels: Area: Logging

#1086 Onboard More WanPerf
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.wanperf.yml
  .azure/templates/run-wanperf.yml
Labels: Area: Performance, Area: Pipeline

#1085 Refactor #975
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/api.h
  src/core/binding.c
  src/core/configuration.c
  src/core/connection.c
  src/core/connection.h
  src/core/crypto.c
  src/core/crypto_tls.c
  src/core/datagram.c
  src/core/frame.c
  src/core/frame.h
  src/core/inline.c
  src/core/library.c
  src/core/listener.c
  src/core/lookup.c
  src/core/loss_detection.c
  src/core/packet.c
  src/core/packet_builder.c
  src/core/range.c
  src/core/range.h
  src/core/registration.c
  src/core/send.c
  src/core/sent_packet_metadata.c
  src/core/settings.h
  src/core/stream.c
  src/core/stream_recv.c
  src/core/stream_send.c
  src/core/timer_wheel.c
  src/core/unittest/CMakeLists.txt
  src/core/unittest/FrameTest.cpp
  src/core/unittest/TicketTest.cpp
  src/inc/msquic.h
  src/inc/quic_platform.h
  src/inc/quic_platform_linux.h
  src/inc/quic_trace.h
  src/inc/quic_var_int.h
  src/platform/CMakeLists.txt
  src/platform/datapath_linux.c
  src/platform/hashtable.c
  src/platform/platform_linux.c
  src/platform/selfsign_openssl.c
  src/platform/storage_linux.c
  src/platform/tls_openssl.c
  src/platform/toeplitz.c
  src/platform/unittest/CMakeLists.txt
  src/platform/unittest/CryptTest.cpp
  src/platform/unittest/DataPathTest.cpp
  src/platform/unittest/TlsTest.cpp
Labels: Area: Build, OS: Ubuntu, external

#1082 Remove Public Contribution Restrictions
  .github/CONTRIBUTING.md
  README.md
Labels: Area: Documentation

#1087 TCP WAN Perf Support via netput
  scripts/emulated-performance.ps1
Labels: Area: Performance

#1088 Update CLOG to clean up sidecar
  scripts/install-powershell-docker.sh
  scripts/prepare-machine.ps1
  scripts/update-sidecar.ps1
  src/inc/quic_driver_helpers.h
  src/manifest/clog.sidecar
Labels: Area: Logging

#1098 Allow windows openssl to use windows cert store for certificates
  src/inc/quic_platform.h
  src/platform/CMakeLists.txt
  src/platform/cert_capi_openssl.c
  src/platform/selfsign_capi.c
  src/platform/tls_openssl.c
Labels: OS: Windows (User), TLS: OpenSSL

#1101 Wait on Separate Client Deleted Event
  src/test/lib/DataTest.cpp
  src/test/lib/TestConnection.cpp
  src/test/lib/TestConnection.h
Labels: Area: Testing, bug

#1103 Stress Parallel TLS Handshakes
  src/platform/unittest/TlsTest.cpp
Labels: Area: Testing, TLS: OpenSSL, TLS: Schannel, TLS: miTLS

#1105 Update BUILD.md
  docs/BUILD.md
Labels: Area: Documentation, external

#1104 Move perf tracking to branch on repo
  .azure/azure-pipelines.ci.yml
  .azure/templates/post-process-performance.yml
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance

#1109 Fix deployment key missing from perf post process
  .azure/templates/post-process-performance.yml
Labels: Area: Build, Area: Performance, Area: Pipeline

#1107 NASM Mirror as Fallback
  scripts/prepare-machine.ps1
Labels: Area: Build, Area: Pipeline

#1108 Some Minor Logging Improvements
  scripts/log.ps1
  scripts/performance.ps1
  src/manifest/MsQuic.wprp
Labels: Area: Logging

#1110 These warning suppressions are no longer needed
  CMakeLists.txt
Labels: Area: Build, external

#1111 Update CodeQL per the GitHub notice, which said:
  .github/workflows/codeql-analysis.yml
Labels: Area: Pipeline, external

#1115 Insert current commit date into performance results.
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance

#1117 Get performance data from perf repo branch
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance

#1113 Fixes TLS 0-RTT Freeing Issues
  src/platform/tls_schannel.c
  src/platform/tls_stub.c
  src/platform/unittest/TlsTest.cpp
Labels: Area: Testing, TLS: Schannel, TLS: Stub

#1118 Make OpenSSL on windows only build for current build type
  .azure/templates/build-config-user.yml
  CMakeLists.txt
  scripts/build.ps1
Labels: Area: Build, OS: Windows (User), TLS: OpenSSL

#1120 Split release and debug into separate builds on AZP
  .azure/azure-pipelines.ci.yml
Labels: Area: Pipeline

#1119 Fix clog builds still happening if logging is disabled because of asan
  CMakeLists.txt
Labels: Area: Build

#1121 Fix interop runner using the incorrect builds
  .azure/azure-pipelines.ci.yml
Labels: Area: Pipeline

#1122 Refactor QNS Pipeline
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.qns.yml
Labels: Area: Pipeline

#1123 Weekly Release Build
  .azure/azure-pipelines.ci.yml
Labels: Area: Pipeline

#1125 Weekly Release Build (#1123)
  .azure/azure-pipelines.ci.yml
Labels: Area: Pipeline

#1128 Move wanperf artifacts to separate log folder
  .azure/templates/run-wanperf.yml
  .azure/templates/upload-test-artifacts.yml
Labels: Area: Pipeline

#1129 Add a script to download all failures and related binaries for a specific build
  scripts/download-failures.ps1
Labels: Area: Pipeline

#1131 Add mitls release to release build configuration
  .azure/azure-pipelines.ci.yml
Labels: Area: Pipeline

#1130 Remove performance database code, and publishing to perf database
  .azure/templates/run-performance.yml
  scripts/publish-performance-results.ps1
  src/perf/QuicPerformanceDataServer.sln
  src/perf/dbserver/Controllers/HpsController.cs
  src/perf/dbserver/Controllers/PerformanceController.cs
  src/perf/dbserver/Controllers/RpsController.cs
  src/perf/dbserver/Controllers/ThroughputController.cs
  src/perf/dbserver/Data/PerformanceContext.cs
  src/perf/dbserver/Migrations/20200805204005_InitialCreate.Designer.cs
  src/perf/dbserver/Migrations/20200805204005_InitialCreate.cs
  src/perf/dbserver/Migrations/20200805214300_SeparateThroughputTable.Designer.cs
  src/perf/dbserver/Migrations/20200805214300_SeparateThroughputTable.cs
  src/perf/dbserver/Migrations/20200810152059_RPSData.Designer.cs
  src/perf/dbserver/Migrations/20200810152059_RPSData.cs
  src/perf/dbserver/Migrations/20200914154603_HPSData.Designer.cs
  src/perf/dbserver/Migrations/20200914154603_HPSData.cs
  src/perf/dbserver/Migrations/PerformanceContextModelSnapshot.cs
  src/perf/dbserver/Models/Db/DbHpsTestRecord.cs
  src/perf/dbserver/Models/Db/DbMachine.cs
  src/perf/dbserver/Models/Db/DbPlatform.cs
  src/perf/dbserver/Models/Db/DbRpsTestRecord.cs
  src/perf/dbserver/Models/Db/DbTest.cs
  src/perf/dbserver/Models/Db/DbTestRecord.cs
  src/perf/dbserver/Models/Db/DbThroughputTestRecord.cs
  src/perf/dbserver/Models/Db/HpsTestResult.cs
  src/perf/dbserver/Models/Db/RpsTestResult.cs
  src/perf/dbserver/Models/Db/TestResult.cs
  src/perf/dbserver/Models/Db/ThroughputTestResult.cs
  src/perf/dbserver/Models/HpsRequest.cs
  src/perf/dbserver/Models/HpsTestPublishResult.cs
  src/perf/dbserver/Models/HpsTestPublishResultWithTime.cs
  src/perf/dbserver/Models/IAuthorizable.cs
  src/perf/dbserver/Models/RpsRequest.cs
  src/perf/dbserver/Models/RpsTestPublishResult .cs
  src/perf/dbserver/Models/RpsTestPublishResultWithTime.cs
  src/perf/dbserver/Models/TestPublishResult.cs
  src/perf/dbserver/Models/TestPublishResultWithTime.cs
  src/perf/dbserver/Models/TestRecord.cs
  src/perf/dbserver/Models/ThroughputRequest.cs
  src/perf/dbserver/Models/ThroughputTestPublishResult.cs
  src/perf/dbserver/Models/ThroughputTestPublishResultWithTime.cs
  src/perf/dbserver/Program.cs
  src/perf/dbserver/Properties/launchSettings.json
  src/perf/dbserver/Properties/serviceDependencies.MsQuicPerformanceResults - Web Deploy.json
  src/perf/dbserver/Properties/serviceDependencies.json
  src/perf/dbserver/Properties/serviceDependencies.local.json
  src/perf/dbserver/QuicPerformanceDataServer.csproj
  src/perf/dbserver/Startup.cs
  src/perf/dbserver/appsettings.Development.json
  src/perf/dbserver/appsettings.json
  src/perf/dbserver/scripts/CreatePlatform.ps1
  src/perf/dbserver/scripts/CreateTest.ps1
Labels: Area: Performance
