Repository microsoft/msquic, pull requests merged in 2020-10, with the labels that each got.

#878 Some Attack Tool Fixes and Improvements
  src/tools/attack/attack.cpp
  src/tools/attack/packet_writer.cpp
  src/tools/attack/packet_writer.h
Labels: Area: Performance

#882 Remove resumption and ecn tests from interop until fully supported.
  scripts/run_endpoint.sh
Labels: Area: Interop, Area: Pipeline

#884 General QUIC Deployment Considerations
  docs/Deployment.md
Labels: Area: Documentation

#883 Handle receipt of a Version Negotiation packet better.
  src/core/connection.c
  src/core/inline.c
Labels: Area: Core, bug

#886 Add Comments to Sample Code
  src/tools/sample/sample.cpp
Labels: Area: Documentation

#885 Some Initial Diagnostics Documentation
  docs/Diagnostics.md
Labels: Area: Documentation

#888 Strictly detect receive reordering
  src/core/ack_tracker.c
  src/core/connection.h
  src/inc/msquic.h
Labels: Area: Core

#887 Work Around BCrypt IV Issues
  src/core/binding.c
  src/core/binding.h
  src/core/connection.c
  src/core/packet_builder.c
  src/inc/quic_crypt.h
Labels: Area: Core

#890 Version Negotiation Cleanup
  src/core/binding.c
  src/core/connection.c
  src/core/packet.c
  src/manifest/clog.sidecar
Labels: Area: Core

#891 Add noexit Option for Interop Server
  scripts/run_endpoint.sh
  src/tools/interopserver/InteropServer.cpp
Labels: Area: Interop

#893 More Version Negotiation Improvements
  src/core/binding.c
  src/core/quicdef.h
  src/inc/quic_versions.h
Labels: Area: Core

#897 Download Perf Support
  scripts/RemoteTests.json
  scripts/performance-helper.psm1
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
Labels: Area: Performance

#892 Ensure sending stream data also includes outstanding ACKs.
  src/core/ack_tracker.c
  src/core/connection.c
  src/core/connection.h
  src/core/send.c
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/DataTest.cpp
Labels: Area: Core, Area: Testing, bug

#898 5 Iterations for All Perf Tests
  scripts/RemoteTests.json
Labels: Area: Performance, Area: Pipeline

#896 Merge Datapath Send Functions
  src/bin/winkernel/pgo_x64/msquic.pgd
  src/bin/winuser/pgo_x64/msquic.pgd
  src/bin/winuser/pgo_x86/msquic.pgd
  src/core/binding.c
  src/core/binding.h
  src/core/library.c
  src/core/library.h
  src/core/listener.c
  src/core/packet_builder.c
  src/inc/msquic_linux.h
  src/inc/msquic_winkernel.h
  src/inc/msquic_winuser.h
  src/inc/quic_datapath.h
  src/inc/quic_platform_dispatch.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/platform/datapath_linux.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/inline.c
  src/platform/unittest/DataPathTest.cpp
  src/test/lib/QuicDrill.cpp
  src/test/lib/TestListener.cpp
  src/test/lib/TestListener.h
  src/tools/attack/attack.cpp
  src/tools/etw/quicetw.h
  src/tools/etw/trace.c
Labels: OS: Ubuntu, OS: Windows (Kernel), OS: Windows (User)

#902 Fix QuicAddrToString for Linux
  src/inc/msquic_linux.h
Labels: OS: Ubuntu, bug

#903 Properly count protocol errors in perf counters.
  src/core/connection.c
  src/core/frame.h
  src/core/inline.c
Labels: Area: Core, Area: Performance, bug

#899 OpenSSL Crypto Thin Abstraction Layer
  src/core/binding.c
  src/manifest/clog.sidecar
  src/platform/tls_openssl.c
Labels: Area: Performance, TLS: OpenSSL

#904 Reallocate TLS Buffer (OpenSSL)
  src/platform/tls_openssl.c
Labels: Area: Interop, TLS: OpenSSL, bug

#905 Perf Pipeline Improvements
  .azure/azure-pipelines.perf.yml
  src/platform/tls_openssl.c
Labels: Area: Performance, Area: Pipeline, TLS: OpenSSL

#907 Fix Path Removal of Timed Out Paths
  src/core/loss_detection.c
  src/core/path.c
  src/core/path.h
Labels: Area: Core, Area: Interop, bug

#908 Don't Hardcode Interop Server Name
  scripts/run_endpoint.sh
Labels: Area: Interop, bug

#911 Add argument to quicperf to allow selecting number of threads for HPS tests
  src/perf/lib/HpsClient.cpp
Labels: Area: Performance

#910 Remove a lot of options from openssl to decrease binary size
  .azure/templates/build-config-user.yml
  CMakeLists.txt
Labels: Area: Build, TLS: OpenSSL

#913 Get Interop Running
  .azure/azure-pipelines.ci.yml
  .azure/templates/run-qns.yml
Labels: Area: Interop, Area: Pipeline

#914 More Perf Pipeline Options
  .azure/azure-pipelines.perf.yml
  .azure/templates/run-performance.yml
Labels: Area: Performance, Area: Pipeline

#916 Fix interop client to support resumption tickets and zeroRTT.
  src/core/connection.c
  src/inc/msquic.h
  src/test/lib/EventTest.cpp
  src/test/lib/TestConnection.cpp
  src/tools/interop/interop.cpp
  src/tools/ping/PingConnection.cpp
  src/tools/sample/sample.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: Interop

#921 Fix OpenSSL Hash/HMAC Performance
  src/platform/tls_openssl.c
Labels: Area: Performance, TLS: OpenSSL

#922 Copy kernel PGD to build directory before building kernel
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
Labels: Area: Build, OS: Windows (Kernel)

#923 Add Missing Interop Client ALPN
  src/tools/interop/interop.cpp
Labels: Area: Interop

#924 Make QUIC_CERTIFICATE_FILE strings const
  src/inc/msquic.h
Labels: Area: API, TLS: OpenSSL

#919 Properly close RPS tests upon failure
  CMakeLists.txt
  scripts/performance-helper.psm1
  scripts/performance.ps1
  src/perf/bin/drvmain.cpp
  src/perf/lib/RpsClient.cpp
  src/perf/lib/RpsClient.h
Labels: Area: Performance, TLS: OpenSSL

#912 Pad Server Initial Packets
  src/core/packet_builder.c
Labels: Area: Core

#925 Rename bin artifact name to artifacts
  .azure/templates/create-package.yml
  .azure/templates/download-artifacts.yml
  .azure/templates/upload-artifacts.yml
Labels: Area: Build

#920 Properly set thread affinity for throughput tests
  scripts/RemoteTests.json
  src/inc/quic_platform_linux.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/perf/lib/HpsClient.cpp
  src/perf/lib/RpsClient.cpp
  src/perf/lib/ThroughputClient.cpp
Labels: Area: Performance

#928 Document perf counters in Diagnostics.md
  docs/Diagnostics.md
Labels: Area: Documentation, Area: Performance

#937 Fixes spelling in README.md
  README.md
Labels: Area: Documentation, external

#932 Server Prefetch QUIC TP
  src/core/crypto.c
  src/core/crypto_tls.c
  src/core/datagram.c
  src/core/listener.c
  src/manifest/clog.sidecar
  src/platform/tls_mitls.c
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/tls_stub.c
  src/test/lib/EventTest.cpp
Labels: Area: Core, Area: Performance

#939 Fix Zw*InformationThread calls to use correct handle
  src/inc/quic_platform_winkernel.h
Labels: Area: Performance, OS: Windows (Kernel), bug

#941 Fix Negotiation of Disable 1-RTT Encryption
  src/core/connection.c
  src/perf/lib/PerfServer.cpp
  src/tools/ping/PingConnection.cpp
Labels: Area: Core, bug

#940 Simple Client Version Negotiation
  src/core/connection.c
  src/core/crypto.c
  src/platform/tls_openssl.c
  src/test/lib/HandshakeTest.cpp
Labels: Area: Core, Area: Protocol Updates

#934 Version Numbers and ALPNs for Draft 32
  .azure/azure-pipelines.ci.yml
  src/core/binding.c
  src/core/connection.c
  src/core/packet.c
  src/core/packet.h
  src/core/packet_builder.c
  src/inc/quic_versions.h
  src/tools/interop/interop.cpp
  src/tools/post/post.cpp
  src/tools/reach/reach.cpp
Labels: Area: Core, Area: Protocol Updates

#943 Add Missing ALPNs to Interop Server
  src/tools/interopserver/InteropServer.cpp
Labels: Area: Interop

#944 Disallow 0 sizes in tput tests, make 0 in all perf tests an error
  scripts/performance-helper.psm1
  src/perf/lib/HpsClient.cpp
  src/perf/lib/RpsClient.cpp
  src/perf/lib/ThroughputClient.cpp
Labels: Area: Performance

#938 Reorder performance read cancellation request in kernel mode
  src/perf/bin/drvmain.cpp
Labels: Area: Performance

#946 Improve Datapath ETW Profile
  src/manifest/MsQuic.wprp
Labels: Area: Logging, Area: Performance

#942 Update Kernel PGD and add instructions to generate kernel PGC
  docs/PGO.md
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/bin/winkernel/pgo_x64/msquic.pgd
Labels: Area: Performance, OS: Windows (Kernel)

#948 Fix builds when MsQuic is a submodule of another project.
  CMakeLists.txt
Labels: Area: Build, bug

#951 Add -Wno-strict-aliasing for gcc earlier than 7.0
  CMakeLists.txt
Labels: Area: Build, external

#950 Refactor ISB Indications
  src/core/quicdef.h
  src/core/send_buffer.c
Labels: Area: Performance, bug

#953 Print out clog error messages at end of prepare-machine.ps1
  scripts/prepare-machine.ps1
Labels: Area: Build, Area: Logging

#931 Base work of adding RPS Latency results to performance testing
  scripts/RemoteTests.json
  scripts/performance-helper.psm1
  scripts/performance.ps1
  scripts/publish-performance-results.ps1
  src/inc/quic_sal_stub.h
  src/perf/bin/CMakeLists.txt
  src/perf/bin/appmain.cpp
  src/perf/bin/drvmain.cpp
  src/perf/bin/histogram/hdr_histogram.c
  src/perf/bin/histogram/hdr_histogram.h
  src/perf/bin/perfioctls.h
  src/perf/lib/HpsClient.cpp
  src/perf/lib/HpsClient.h
  src/perf/lib/LatencyHelpers.h
  src/perf/lib/PerfBase.h
  src/perf/lib/PerfCommon.h
  src/perf/lib/PerfHelpers.h
  src/perf/lib/PerfServer.cpp
  src/perf/lib/PerfServer.h
  src/perf/lib/RpsClient.cpp
  src/perf/lib/RpsClient.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/perf/lib/quicmain.cpp
Labels: Area: Performance
