Repository microsoft/msquic, pull requests merged in 2020-09, with the labels that each got.

#794 Don't continue perf execution on error
  .azure/templates/run-performance.yml
Labels: Area: Performance

#795 Fixed Nonbuffered IO
  scripts/RemoteTests.json
  src/perf/lib/PerfCommon.h
  src/perf/lib/PerfServer.cpp
  src/perf/lib/PerfServer.h
  src/perf/lib/SendRequest.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/perf/lib/quicmain.cpp
Labels: Area: Performance

#796 Default CLOG Off in CMake
  CMakeLists.txt
  Dockerfile
  scripts/build.ps1
Labels: Area: Build, Area: Logging

#797 Update to CLOG 0.1.8
  scripts/install-powershell-docker.sh
  scripts/prepare-machine.ps1
  src/manifest/clog.sidecar
Labels: Area: Logging

#801 Close connection on AEAD integrity failure
  src/core/connection.c
  src/core/frame.h
  src/core/quicdef.h
  src/tools/etw/quicetw.h
Labels: Area: Protocol Updates

#778 Support OpenSSL on Windows
  .azure/azure-pipelines.ci.yml
  .azure/templates/build-config-user.yml
  .github/workflows/codeql-analysis.yml
  CMakeLists.txt
  scripts/RemoteTests.json
  scripts/build.ps1
  scripts/prepare-machine.ps1
  src/platform/CMakeLists.txt
  src/platform/selfsign_openssl.c
  src/platform/tls_openssl.c
Labels: OS: Windows (User), TLS: OpenSSL

#803 Clean up LGTM Alerts
  src/core/cid.h
  src/core/library.c
  src/core/library.h
  src/core/unittest/main.h
  src/inc/msquic_fuzz.h
  src/inc/msquichelper.h
  src/inc/quic_datapath.h
  src/inc/quic_hashtable.h
  src/inc/quic_platform.h
  src/inc/quic_platform_dispatch.h
  src/inc/quic_platform_linux.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/inc/quic_trace.h
Labels: Area: Build

#805 SpinQuic Refuse Connection
  src/tools/spin/spinquic.cpp
Labels: Area: Stress

#807 Fix Wrap Around Bug with Partition Count
  src/core/library.c
Labels: Area: Core, bug

#802 Add msquic client support to QNS
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.qns.yml
  .azure/templates/run-qns.yml
  scripts/interop.ps1
  scripts/run_endpoint.sh
  src/tools/interop/interop.cpp
  src/tools/interop/interop.h
Labels: Area: Interop

#811 Settings Refactor
  docs/api/SessionOpen.md
  src/core/api.h
  src/core/connection.c
  src/core/library.c
  src/core/session.c
  src/core/settings.c
  src/core/settings.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/manifest/clog.sidecar
  src/perf/lib/PerfHelpers.h
  src/perf/lib/PerfServer.cpp
  src/perf/lib/PerfServer.h
  src/perf/lib/RpsClient.cpp
  src/perf/lib/RpsClient.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/perf/lib/quicmain.cpp
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/BasicTest.cpp
  src/test/lib/DataTest.cpp
  src/test/lib/DatagramTest.cpp
  src/test/lib/EventTest.cpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/interop/interop.cpp
  src/tools/interopserver/InteropServer.h
  src/tools/ip/quicip.h
  src/tools/ip/server/quicipserver.cpp
  src/tools/ping/Client.cpp
  src/tools/ping/Server.cpp
  src/tools/post/post.cpp
  src/tools/reach/reach.cpp
  src/tools/sample/sample.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#812 miTLS Thread-Local Storage Logging
  src/platform/tls_mitls.c
Labels: Area: Logging, TLS: miTLS

#813 Interop Client Improvements
  src/tools/interop/interop.cpp
Labels: Area: Interop

#819 Clean up packet space in QuicConnFree
  src/core/connection.c
Labels: Area: Core, bug

#820 Properly error if QuicHashtableInitialize fails in binding
  src/core/binding.c
Labels: Area: Core, bug

#815 Update Partition size to 16 bits.
  src/core/cid.h
  src/core/connection.c
  src/core/connection.h
  src/core/inline.c
  src/core/library.c
  src/core/library.h
  src/core/lookup.c
  src/core/lookup.h
  src/core/quicdef.h
  src/core/registration.c
  src/core/unittest/PartitionTest.cpp
  src/core/worker.c
  src/core/worker.h
  src/inc/msquic.h
  src/inc/quic_datapath.h
  src/inc/quic_platform_linux.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/tools/etwlib/MsQuicEventCollection.h
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#814 Pack QUIC_SENT_PACKET_METADATA manually to remove the need for pragma pack
  src/core/sent_packet_metadata.h
  src/core/stream_send.c
Labels: Area: Core, bug

#822 Fix throughput timeout for client in perf tests
  src/perf/lib/ThroughputClient.h
Labels: Area: Performance

#823 use --replace in QNS
  .azure/azure-pipelines.qns.yml
  .azure/templates/run-qns.yml
Labels: Area: Interop, Area: Pipeline

#828 Copy kernel mode data buffers if too much data is currently cached
  src/manifest/clog.sidecar
  src/platform/datapath_winkernel.c
Labels: Area: Performance, OS: Windows (Kernel)

#832 Handle path being removed by loss prevention as new path is being added.
  src/core/path.c
Labels: Area: Core, bug

#835 Revert Recent Inline SetParam Change
  src/core/api.c
Labels: Area: API, Area: Core, bug

#834 Update Windows Usermode Datapath to Use Processor Context Index
  src/platform/datapath_winuser.c
Labels: OS: Windows (User)

#837 Reduce Test Cases for OpenSSL on Windows
  .azure/azure-pipelines.ci.yml
Labels: Area: Pipeline, Area: Testing, OS: Windows (User), TLS: OpenSSL

#839 Remove SourceCid entry from cid list under lock.
  src/core/binding.c
  src/core/binding.h
  src/core/connection.h
  src/core/lookup.c
  src/core/lookup.h
Labels: Area: Core, bug

#840 Add Missing Wireshark Build Dependency
  .azure/templates/run-qns.yml
Labels: Area: Interop, Area: Pipeline

#838 Fix perf crashes in RPS and HPS tests
  src/core/connection.c
  src/core/connection.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/perf/lib/HpsClient.cpp
  src/perf/lib/HpsClient.h
  src/perf/lib/PerfServer.cpp
  src/perf/lib/RpsClient.cpp
  src/perf/lib/RpsClient.h
  src/tools/sample/sample.cpp
Labels: Area: API, Area: Performance, bug

#841 Refactor Ideal Processor Usage
  src/core/registration.c
  src/inc/quic_platform.h
  src/inc/quic_platform_linux.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/perf/lib/HpsClient.cpp
  src/platform/platform_linux.c
  src/tools/attack/attack.cpp
Labels: Area: Core, Area: Performance

#842 Add multifile support to quicinterop
  scripts/run_endpoint.sh
  src/tools/interop/interop.cpp
  src/tools/interop/interop.h
Labels: Area: Interop

#844 Multi-Binding Attack
  src/tools/attack/attack.cpp
Labels: Area: Performance

#831 Configure Performance Tests to run OpenSSL Remote Performance
  .azure/azure-pipelines.ci.yml
  scripts/RemoteTests.json
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance, TLS: OpenSSL

#845 Always copy DPC buffers in kernel mode
  src/platform/datapath_winkernel.c
Labels: Area: Performance, OS: Windows (Kernel)

#846 Always use self signed certificates for remote performance tests.
  scripts/RemoteTests.json
  scripts/performance.ps1
Labels: Area: Performance

#847 Add diagnostic prints to quicinterop
  scripts/run_endpoint.sh
  src/tools/interop/interop.cpp
Labels: Area: Interop

#848 Draft 30 Support
  .azure/azure-pipelines.ci.yml
  scripts/run_endpoint.sh
  src/core/binding.c
  src/core/connection.c
  src/core/packet.c
  src/core/packet.h
  src/core/packet_builder.c
  src/inc/quic_versions.h
  src/tools/attack/attack.cpp
  src/tools/interop/interop.cpp
  src/tools/interopserver/InteropServer.cpp
  src/tools/post/post.cpp
  src/tools/reach/reach.cpp
Labels: Area: Core, Area: Protocol Updates

#851 Fix CodeQL Break
  .github/workflows/codeql-analysis.yml
Labels: Area: Build, Area: Pipeline

#853 Use certs provided by interop framework
  Dockerfile
  scripts/run_endpoint.sh
Labels: Area: Interop, external

#850 Binary Version Updates
  .azure/templates/build-config-winkernel.yml
  CMakeLists.txt
  scripts/build.ps1
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquic.rc
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/bin/winkernel/msquicpriv.rc
  src/bin/winuser/msquic.rc
  src/bin/winuser_fuzz/msquic_fuzz.rc
  src/inc/msquic.ver
  src/inc/quic_platform_winuser.h
Labels: Area: Build, Area: Pipeline

#849 IOCTL Interface for MsQuic Performance Counters
  CMakeLists.txt
  scripts/prepare-package.ps1
  scripts/test.ps1
  src/bin/winkernel/driver.c
  src/bin/winkernel/ioctl.c
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/library.c
  src/inc/msquic_ioctl.h
  src/inc/msquicp.h
  src/inc/quic_driver_helpers.h
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/winkernel/control.cpp
  src/test/bin/winkernel/driver.cpp
  src/test/bin/winkernel/ioctltestcontrol.cpp
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/ioctltestbin/CMakeLists.txt
  src/test/ioctltestbin/main.cpp
Labels: Area: API, OS: Windows (Kernel), OS: Windows (User)

#857 Reorder QUIC_SETTINGS to remove all padding
  src/inc/msquic.h
Labels: Area: API, Area: Core

#829 Fix AEAD Limit reached value conflict with TLS key update error value
  src/core/frame.h
  src/tools/etw/quicetw.h
Labels: Area: Protocol Updates

#861 Draft 31 Support
  src/core/binding.c
  src/core/connection.c
  src/core/packet.c
  src/core/packet.h
  src/core/packet_builder.c
  src/inc/quic_versions.h
  src/tools/attack/attack.cpp
  src/tools/interop/interop.cpp
  src/tools/post/post.cpp
  src/tools/reach/reach.cpp
Labels: Area: Core, Area: Protocol Updates

#862 Clean Workplace on Custom Pools
  .azure/templates/build-distribution.yml
  .azure/templates/run-bvt.yml
  .azure/templates/run-performance.yml
  .azure/templates/run-quicinterop.yml
  .azure/templates/run-spinquic.yml
Labels: Area: Pipeline

#858 Clean up Artifacts after Upload
  .azure/templates/upload-artifacts.yml
  .azure/templates/upload-test-artifacts.yml
Labels: Area: Pipeline

#860 Add Performance Counter API access to kernel mode driver
  src/bin/winkernel/driver.c
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpcw.c
  src/bin/winkernel/msquicpriv.kernel.vcxproj
Labels: Area: Performance, OS: Windows (Kernel)

#864 Update perf counters to allow duplicate rate and total counters
  src/bin/winkernel/msquicpcw.c
Labels: OS: Windows (Kernel)

#867 Print how long each test run took
  scripts/performance-helper.psm1
Labels: Area: Performance, Area: Pipeline

#868 Improve interop client pass rate
  .azure/templates/run-qns.yml
  scripts/run_endpoint.sh
  src/tools/interop/interop.cpp
Labels: Area: Interop, Area: Pipeline

#852 Add platform independent enum for address family
  src/core/api.c
  src/core/binding.c
  src/core/connection.c
  src/core/datagram.c
  src/core/listener.c
  src/core/packet.h
  src/inc/msquic_linux.h
  src/inc/msquic_winkernel.h
  src/inc/msquic_winuser.h
  src/inc/msquichelper.h
  src/inc/quic_datapath.h
  src/perf/lib/HpsClient.cpp
  src/perf/lib/PerfServer.cpp
  src/perf/lib/RpsClient.cpp
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/perf/lib/quicmain.cpp
  src/platform/datapath_linux.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/platform_internal.h
  src/platform/platform_linux.c
  src/platform/unittest/DataPathTest.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/BasicTest.cpp
  src/test/lib/DataTest.cpp
  src/test/lib/DatagramTest.cpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/QuicDrill.cpp
  src/test/lib/TestListener.cpp
  src/tools/etw/quicetw.h
  src/tools/interop/interop.cpp
  src/tools/ip/quicip.h
  src/tools/ip/server/quicipserver.cpp
  src/tools/ping/PingConnection.cpp
  src/tools/ping/QuicPing.cpp
  src/tools/post/post.cpp
  src/tools/reach/reach.cpp
  src/tools/sample/sample.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#866 MsQuic Deployment Documentation
  docs/Deployment.md
  docs/InteropServerSetup.md
Labels: Area: Documentation

#872 Bump Docker Version for Draft-31
  .azure/azure-pipelines.ci.yml
Labels: Area: Interop, Area: Pipeline

#874 Additional Readme Text in Protocol Features
  README.md
Labels: Area: Documentation

#875 Add prints to error states in perf testing to display where initialization is failing
  scripts/performance-helper.psm1
  src/perf/bin/appmain.cpp
  src/perf/lib/quicmain.cpp
  src/platform/platform_winuser.c
Labels: Area: Performance, Area: Pipeline

#876 More Deployment Documentation
  README.md
  docs/Deployment.md
  docs/Diagnostics.md
Labels: Area: Documentation
