Repository microsoft/msquic, pull requests merged in 2021-01, with the labels that each got.

#1132 Add option to open the debugger from the download logs script
  scripts/download-failures.ps1
Labels: Area: Pipeline

#1134 Refactor TLS Callback Abstraction Layer
  src/core/configuration.c
  src/core/crypto.c
  src/core/crypto.h
  src/inc/quic_tls.h
  src/platform/tls_mitls.c
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/tls_stub.c
  src/platform/unittest/TlsTest.cpp
  src/tools/attack/packet_writer.cpp
Labels: TLS: OpenSSL, TLS: Schannel, TLS: Stub, TLS: miTLS

#1140 Make Sample Work by Default
  src/tools/sample/sample.cpp
Labels: bug

#1135 Cleanup perf scripts
  scripts/RemoteTests.json
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance

#1142 Platform Custom Thread Context
  src/inc/quic_platform.h
  src/inc/quic_platform_linux.h
  src/inc/quic_platform_winuser.h
  src/platform/platform_linux.c
Labels: Area: Build

#1145 Replace NtClose with ZwClose
  src/inc/quic_platform_winkernel.h
  src/platform/storage_winkernel.c
  src/platform/tls_schannel.c
Labels: OS: Windows (Kernel), bug

#1146 Add full RPS matrix, and a pipeline to run it.
  .azure/azure-pipelines.periodic.yml
  .azure/templates/run-performance.yml
  scripts/FullRunRPS.json
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance, Area: Pipeline

#1151 Add some documentation to sample about certificates
  src/tools/sample/sample.cpp
Labels: Area: Documentation

#1152 Support using SMB to copy performance artifacts
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance, Area: Pipeline

#1153 Fail build on CI if prepare-machine fails
  .azure/templates/build-config-user.yml
  .azure/templates/build-config-winkernel.yml
  scripts/prepare-machine.ps1
Labels: Area: Pipeline

#1149 Initial TCP Support
  .azure/azure-pipelines.ci.yml
  src/core/binding.c
  src/core/binding.h
  src/core/connection.c
  src/core/connection.h
  src/core/library.c
  src/core/library.h
  src/core/listener.c
  src/core/operation.h
  src/core/packet.c
  src/core/packet_builder.c
  src/core/packet_builder.h
  src/core/packet_space.c
  src/core/packet_space.h
  src/core/path.c
  src/core/path.h
  src/core/quicdef.h
  src/core/worker.c
  src/inc/msquicp.h
  src/inc/quic_datapath.h
  src/inc/quic_platform.h
  src/inc/quic_platform_dispatch.h
  src/manifest/MsQuicEtw.man
  src/perf/lib/quicmain.cpp
  src/platform/datapath_linux.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/unittest/DataPathTest.cpp
  src/plugins/dbg/binding.cpp
  src/plugins/dbg/quictypes.h
  src/test/lib/QuicDrill.cpp
  src/test/lib/TestHelpers.h
  src/tools/attack/attack.cpp
  src/tools/reach/reach.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: Performance, OS: Windows (User)

#1155 Rename Datapath Log Prefix
  scripts/update-sidecar.ps1
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/platform/datapath_linux.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/tools/etw/trace.c
Labels: Area: Logging

#1154 Rename quicperf driver to quicperfdrv, add private instance
  msquic.kernel.sln
  scripts/performance-helper.psm1
  scripts/run-gtest.ps1
  src/perf/bin/appmain.cpp
  src/perf/bin/drvmain.cpp
  src/perf/bin/quicperfdriver.kernel.vcxproj
  src/perf/bin/quicperfdriverpriv.kernel.vcxproj
  src/test/bin/quic_gtest.cpp
Labels: Area: Performance

#1159 Publish results for periodic tests to performance dashboard
  .azure/azure-pipelines.periodic.yml
  .azure/templates/post-process-periodic-performance.yml
Labels: Area: Performance

#1163 Fix Powershell not installing correctly
  .azure/azure-pipelines.ci.yml
  .azure/templates/build-config-user.yml
  scripts/install-powershell.sh
Labels: Area: Build, OS: Ubuntu

#1162 Add third party notices license, add that license to distribution
  THIRD-PARTY-NOTICES
  scripts/package-distribution.ps1
Labels: Area: Documentation

#1164 Fix Powershell not installing correctly (#1163)
  .azure/azure-pipelines.ci.yml
  .azure/templates/build-config-user.yml
  scripts/install-powershell.sh
Labels: Area: Build, OS: Ubuntu

#1165 Add third party notices license, add that license to distribution (#1162)
  THIRD-PARTY-NOTICES
  scripts/package-distribution.ps1
Labels: Area: Documentation

#1167 Initial WPA Instructions
  src/plugins/wpa/README.md
  src/plugins/wpa/images/ADK_WPT.jpg
Labels: Area: Documentation, Area: Performance

#1169 Fix incremental issues in CMake build so rebuilds don't consistently happen
  CMakeLists.txt
  cmake/SourceLink.cmake
  cmake/source_link.json.in
  src/bin/CMakeLists.txt
  src/core/CMakeLists.txt
  src/inc/CMakeLists.txt
  src/perf/lib/CMakeLists.txt
  src/platform/CMakeLists.txt
  src/test/lib/CMakeLists.txt
Labels: Area: Build

#1168 Download Throughput Perf Chart
  assets/percommit/dataTemplate.js
  assets/percommit/index.html
  assets/percommit/style.css
  assets/summary/dataTemplate.js
  assets/summary/style.css
  index.html
Labels: Area: Performance

#1170 Add machine name to data tooltip in perf dashboards
  assets/percommit/dataTemplate.js
  assets/periodicrun/data.js.in
  assets/summary/dataTemplate.js
  assets/summary/main/data.js
  percommit/main/f24c288/data.js
  percommit/main/f24c288/dataTemplate.js
  powershell/generate-graphs.ps1
Labels: Area: Performance

#1171 Reenable Arm Linux OpenSSL build
  .azure/azure-pipelines.ci.yml
  CMakeLists.txt
Labels: OS: Ubuntu, TLS: OpenSSL

#1175 Make pool allocators on linux actually use pool
  src/inc/quic_platform_dispatch.h
  src/inc/quic_platform_linux.h
  src/inc/quic_platform_winuser.h
  src/platform/inline.c
  src/platform/platform_linux.c
Labels: OS: Ubuntu

#1178 Fix casing of datapath threads
  src/platform/datapath_winuser.c
Labels: OS: Windows (User)

#1177 Upload WanPerf data to artifacts for later parsing
  .azure/templates/run-wanperf.yml
  scripts/emulated-performance.ps1
Labels: Area: Performance

#1160 TCP/TLS Performance Interface
  .azure/azure-pipelines.perf.yml
  .azure/azure-pipelines.wanperf.yml
  .azure/templates/run-performance.yml
  .azure/templates/run-wanperf.yml
  docs/PGO.md
  scripts/FullRunRPS.json
  scripts/RemoteTests.json
  scripts/TcpTests.json
  scripts/emulated-performance.ps1
  scripts/performance.ps1
  src/inc/msquic.hpp
  src/inc/quic_datapath.h
  src/inc/quic_hashtable.h
  src/inc/quic_tls.h
  src/perf/lib/CMakeLists.txt
  src/perf/lib/PerfHelpers.h
  src/perf/lib/PerfServer.cpp
  src/perf/lib/PerfServer.h
  src/perf/lib/Tcp.cpp
  src/perf/lib/Tcp.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/perf/lib/perflib.kernel.vcxproj
  src/perf/lib/quicmain.cpp
  src/platform/datapath_winuser.c
  src/platform/unittest/DataPathTest.cpp
Labels: Area: Performance, OS: Windows (User)

#1184 Download Summary Chart
  assets/summary/dataTemplate.js
  assets/summary/style.css
  index.html
Labels: Area: Performance

#1182 TCP Perf: Support Abort Stream
  .azure/azure-pipelines.wanperf.yml
  .azure/templates/run-wanperf.yml
  scripts/emulated-performance.ps1
  src/perf/lib/PerfServer.cpp
  src/perf/lib/PerfServer.h
  src/perf/lib/Tcp.cpp
  src/perf/lib/Tcp.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/platform/datapath_winuser.c
Labels: Area: Performance

#1188 Download WAN performance artifacts for perf merging
  .azure/azure-pipelines.ci.yml
  .azure/templates/post-process-performance.yml
Labels: Area: Performance

#1189 Add WAN Perf to Periodic Perf Pipeline
  .azure/azure-pipelines.periodic.yml
  .azure/templates/post-process-periodic-performance.yml
  .azure/templates/run-wanperf.yml
  scripts/emulated-performance.ps1
Labels: Area: Performance, Area: Pipeline

#1187 Add CI build that runs static code checkers
  .azure/azure-pipelines.ci.yml
  scripts/build.ps1
  scripts/prepare-machine.ps1
  src/core/crypto_tls.c
  src/platform/datapath_linux.c
  src/platform/selfsign_openssl.c
  src/platform/tls_openssl.c
Labels: Area: Build, Area: Pipeline, external

#1193 Add MaxRuntime Support to QuicPerf
  scripts/emulated-performance.ps1
  src/perf/bin/appmain.cpp
  src/perf/bin/drvmain.cpp
  src/perf/lib/PerfHelpers.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/perf/lib/quicmain.cpp
Labels: Area: Performance, Area: Pipeline

#1192 Fix race in pending send data resulting in a corrupted socket context
  src/platform/datapath_linux.c
Labels: OS: Ubuntu, bug

#1195 Deferred Certificate Validation Support
  src/core/connection.c
  src/core/crypto.c
  src/inc/msquic.h
  src/inc/quic_tls.h
  src/manifest/clog.sidecar
  src/platform/tls_mitls.c
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/tls_stub.c
  src/platform/unittest/TlsTest.cpp
Labels: Area: Core, OS: Windows (Kernel), OS: Windows (User), TLS: Schannel, feature request

#1198 Fix issues with inline c definitions.
  src/platform/inline.c
Labels: OS: Ubuntu

#1199 Fix Regression in draft-29 TP Acceptance
  src/core/crypto_tls.c
Labels: bug

#1203 Remove unused submodules from kernel build
  scripts/prepare-machine.ps1
Labels: Area: Build, OS: Windows (Kernel)

#1190 Custom Certificate Validation
  .azure/azure-pipelines.ci.yml
  src/core/connection.c
  src/core/crypto.c
  src/core/crypto.h
  src/inc/msquic.h
  src/inc/msquic_linux.h
  src/inc/quic_tls.h
  src/manifest/clog.sidecar
  src/platform/tls_mitls.c
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/tls_stub.c
  src/platform/unittest/TlsTest.cpp
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/DataTest.cpp
  src/test/lib/DatagramTest.cpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/TestConnection.cpp
  src/test/lib/TestConnection.h
  src/test/lib/TestHelpers.h
Labels: Area: API, Area: Core, TLS: OpenSSL, TLS: Schannel, TLS: Stub, TLS: miTLS
