Repository microsoft/msquic, pull requests merged in 2021-07, with the labels that each got.

#1787 Update Sample Link
  README.md
Labels: Area: Documentation

#1788 Fix mismatched definitions of CxPlatCertSelect
  src/platform/cert_capi.c
Labels: OS: Windows (User)

#1790 Enable renaming the output shared binary
  CMakeLists.txt
  scripts/build.ps1
  src/bin/CMakeLists.txt
  src/bin/winuser/msquic.def.in
  src/bin/winuser/msquic.rc.in
Labels: Area: Build

#1793 Remove Desired Version From Sample
  src/tools/sample/sample.c
Labels: Area: Documentation

#1792 PCERT_CONTEXT to QUIC_CERTIFICATE
  src/platform/cert_capi.c
Labels: Area: Build, OS: Windows (User)

#1778 Stream Priority Support
  scripts/update-sidecar.ps1
  src/core/crypto.c
  src/core/send.c
  src/core/send.h
  src/core/stream.c
  src/core/stream.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/DataTest.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#1797 Use WriteKey for App Close Check
  src/core/connection.c
  src/test/lib/EventTest.cpp
Labels: Area: Core, Bug: Core

#1799 Remove Unused Define
  src/platform/tls_schannel.c
Labels: TLS: Schannel

#1783 Clear out rebound paths upon path exhaustion
  src/core/connection.c
  src/core/path.c
  src/inc/msquic.hpp
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/CMakeLists.txt
  src/test/lib/PathTest.cpp
  src/test/lib/testlib.kernel.vcxproj
Labels: Area: Core, Area: Testing

#1801 Improve Rebind Tests
  src/core/connection.c
  src/core/connection.h
  src/core/send.c
  src/inc/msquic.hpp
  src/inc/msquicp.h
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/TestHelpers.h
Labels: Area: Testing

#1802 Improve Event Callback Reentrancy
  src/core/api.c
  src/core/connection.c
  src/core/connection.h
  src/core/stream.c
  src/plugins/dbg/quictypes.h
Labels: Area: API, Area: Core

#1808 Fix Broken Link in StreamSend.md
  docs/api/StreamSend.md
Labels: Area: Documentation

#1809 Split Stream Abort Error Codes
  src/core/stream.h
  src/core/stream_recv.c
  src/core/stream_send.c
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/DataTest.cpp
Labels: Bug: Core

#1812 Improve Platform Support Documentation
  docs/Platforms.md
Labels: Area: Documentation

#1813 Correctly fix VS 16.10 UCRT issue
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/core.kernel.vcxproj
  src/inc/quic_platform.h
  src/manifest/manifest.kernel.vcxproj
  src/perf/bin/secnetperfdriver.kernel.vcxproj
  src/perf/bin/secnetperfdriverpriv.kernel.vcxproj
  src/perf/lib/perflib.kernel.vcxproj
  src/platform/platform.kernel.vcxproj
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/lib/testlib.kernel.vcxproj
Labels: Area: Build, OS: Windows (Kernel)

#1817 Fix queuing 0-RTT data during handshake
  src/core/send.c
Labels: Area: Core

#1814 Correctly fix VS 16.10 UCRT issue (#1813) (Cobalt)
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/core.kernel.vcxproj
  src/inc/quic_platform.h
  src/manifest/manifest.kernel.vcxproj
  src/perf/bin/quicperfdriver.kernel.vcxproj
  src/perf/bin/quicperfdriverpriv.kernel.vcxproj
  src/perf/lib/perflib.kernel.vcxproj
  src/platform/platform.kernel.vcxproj
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/lib/testlib.kernel.vcxproj
Labels: Backport, OS: Windows (Kernel)

#1815 Correctly fix VS 16.10 UCRT issue (#1813) (Iron)
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/core.kernel.vcxproj
  src/inc/quic_platform.h
  src/manifest/manifest.kernel.vcxproj
  src/perf/bin/performance.kernel.vcxproj
  src/perf/lib/perflib.kernel.vcxproj
  src/platform/platform.kernel.vcxproj
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/lib/testlib.kernel.vcxproj
Labels: Backport, OS: Windows (Kernel)

#1818 Use root level certificate verification callback in OpenSSL
  .azure/templates/build-config-user.yml
  src/platform/tls_openssl.c
Labels: TLS: OpenSSL

#1820 Get release tests running successfully in Iron
  .azure/azure-pipelines.ci.yml
  scripts/test.ps1
  src/test/bin/quic_gtest.cpp
  src/test/lib/DatagramTest.cpp
Labels: Bug: Test/Tool

#1823 Fix linker order of openssl libraries in cached builds
  CMakeLists.txt
Labels: TLS: OpenSSL

#1822 Ignore Duplicate Stream Read Shutdowns
  src/core/stream_recv.c
  src/test/bin/quic_gtest.h
  src/test/lib/EventTest.cpp
Labels: Area: Core

#1824 Constrain processor index to processor count on posix
  src/inc/quic_platform_posix.h
  src/perf/bin/appmain.cpp
  src/platform/platform_posix.c
Labels: OS: Ubuntu, OS: macOS

#1825 Add MTU documentation to settings documentation
  docs/Settings.md
  docs/api/QUIC_SETTINGS.md
Labels: Area: Documentation

#1828 v1.5 Release Notes
  docs/Release.md
Labels: Area: Documentation

#1827 Add QuicConnIsClient Helper
  src/core/api.c
  src/core/connection.c
  src/core/connection.h
  src/core/crypto.c
  src/core/inline.c
  src/core/loss_detection.c
  src/core/packet_builder.c
  src/core/send.c
  src/core/stream.c
Labels: Area: Core

#1830 add option to create debug package from debug build
  scripts/make-packages.sh
Labels: Area: Build

#1834 Suppress or fix various issues
  CMakeLists.txt
  src/core/settings.c
  src/platform/datapath_kqueue.c
  src/platform/pcp.c
  src/platform/platform_posix.c
  src/platform/tls_openssl.c
Labels: Area: Build, external

#1836 Increase Send Deadlock Detection Threshold
  src/core/send.c
Labels: Area: Stress, Area: Testing

#1835 Add android native library build support
  .azure/azure-pipelines.ci.yml
  CMakeLists.txt
  scripts/build.ps1
  scripts/get-buildconfig.ps1
  src/inc/CMakeLists.txt
  src/platform/platform_posix.c
Labels: OS: Android

#1837 Binding Ref Count Fixes in Error Paths
  src/core/binding.c
  src/core/library.c
Labels: Area: Core, Bug: Core

#1838 Add more path tracing to destination CIDs
  src/core/cid.h
  src/core/connection.c
  src/core/loss_detection.c
Labels: Area: Core

#1841 Enable Version Negotiation Extension on interop client.
  src/tools/interop/interop.cpp
Labels: Area: Interop, Bug: Test/Tool

#1839 Add support for building openssl with jom
  .azure/templates/build-config-user.yml
  CMakeLists.txt
  scripts/prepare-machine.ps1
  submodules/CMakeLists.txt
Labels: OS: Windows (User), TLS: OpenSSL

#1843 Use CancelIoEx Instead
  src/platform/datapath_winuser.c
Labels: Bug: Platform, OS: Windows (User)

#1844 Increase cmake minimum version on windows
  CMakeLists.txt
Labels: Area: Build, OS: Windows (User)

#1846 Update readme for changes made since notes for v1.5.0 were made
  docs/Release.md
Labels: Area: Documentation

#1847 Update Version Number to 1.6
  .azure/azure-pipelines.qns.yml
  .azure/templates/create-package.yml
  src/inc/msquic.ver
Labels: Area: Build

#1849 Support ConnectionClose in NEW_CONNECTION Event
  src/core/listener.c
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Bug: Core

#1852 improve packaging
  scripts/make-packages.sh
Labels: Area: Build

#1804 Support Setting Local Interface Index
  src/core/binding.c
  src/core/binding.h
  src/core/connection.c
  src/core/connection.h
  src/core/library.c
  src/core/library.h
  src/core/listener.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/datapath_epoll.c.clog.h
  src/generated/linux/datapath_epoll.c.clog.h.lttng.h
  src/generated/linux/datapath_kqueue.c.clog.h
  src/generated/linux/datapath_kqueue.c.clog.h.lttng.h
  src/generated/linux/datapath_winkernel.c.clog.h
  src/generated/linux/datapath_winkernel.c.clog.h.lttng.h
  src/generated/linux/datapath_winuser.c.clog.h
  src/generated/linux/datapath_winuser.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/inc/quic_datapath.h
  src/manifest/clog.sidecar
  src/perf/lib/SecNetPerfMain.cpp
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/pcp.c
  src/platform/platform_internal.h
  src/platform/unittest/DataPathTest.cpp
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
Labels: OS: Windows (Kernel), OS: Windows (User)

#1855 Fix invalid path warning in linux build
  src/generated/CMakeLists.txt
Labels: Area: Build, OS: Ubuntu

#1856 Add Ack Freq to Readme as Supported Doc
  README.md
Labels: Area: Documentation

#1728 ignore validation failures with NO_CERTIFICATE_VALIDATION
  src/platform/tls_schannel.c
Labels: TLS: Schannel

#1857 Release 1.6 Docs
  docs/Release.md
Labels: Area: Documentation

#1858 Update to v1.7
  .azure/azure-pipelines.qns.yml
  .azure/templates/create-package.yml
  src/inc/msquic.ver
Labels: Area: Build

#1862 Fix Openssl build with ninja on windows
  submodules/CMakeLists.txt
Labels: Area: Build, OS: Windows (User), TLS: OpenSSL

#1863 General build cleanups and speedups
  CMakeLists.txt
  scripts/build.ps1
  src/bin/CMakeLists.txt
Labels: Area: Build
