Repository microsoft/msquic, pull requests merged in 2021-11, with the labels that each got.

#2107 Worker Optimizations for Latency
  .azure/azure-pipelines.perf.yml
  src/bin/winuser/pgo_x64/msquic.pgd
  src/bin/winuser/pgo_x86/msquic.pgd
  src/core/quicdef.h
  src/core/worker.c
  src/core/worker.h
  src/generated/linux/worker.c.clog.h
  src/generated/linux/worker.c.clog.h.lttng.h
  src/inc/quic_platform.h
  src/inc/quic_platform_posix.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/platform/inline.c
Labels: Area: Performance, Area: Core

#2113 Fix incorrect requests size in QuicHandleRpsClient
  src/perf/bin/appmain.cpp
Labels: Area: Performance

#2115 Fix event name
  docs/API.md
Labels: Area: Documentation

#2122 Refactor Worker Exectution in to Generic Design
  src/core/library.c
  src/core/timer_wheel.c
  src/core/timer_wheel.h
  src/core/worker.c
  src/core/worker.h
  src/generated/linux/worker.c.clog.h
  src/generated/linux/worker.c.clog.h.lttng.h
  src/inc/quic_platform.h
  src/manifest/clog.sidecar
Labels: Area: Core

#2111 Fix leak in OpenSSL PKCS12 parsing.
  scripts/install-test-certificates.ps1
  src/platform/tls_openssl.c
Labels: TLS: OpenSSL, Bug: Platform

#2124 ConnectionOpen doesn't require Configuration
  docs/api/ConnectionOpen.md
Labels: Area: Documentation

#2125 GitHub Action for Repo Mirroring
  .azure/azure-pipelines.ci.yml
  .github/workflows/mirror-repo.yml
  scripts/sync-mirror.ps1
Labels: Area: Pipeline

#2127 Fix Sync Mirror Script
  scripts/sync-mirror.ps1
Labels: Area: Pipeline

#2128 Debug Mirroring
  scripts/sync-mirror.ps1
Labels: Area: Pipeline

#2129 Update Mirroring to Fetch All Commits
  .github/workflows/mirror-repo.yml
Labels: Area: Pipeline

#2120 Add basic IPv6 framing and parsing support
  src/core/binding.c
  src/core/packet_builder.c
  src/generated/linux/datapath_raw.c.clog.h
  src/generated/linux/datapath_raw.c.clog.h.lttng.h
  src/generated/linux/datapath_raw_socket.c.clog.h
  src/generated/linux/datapath_raw_xdp.c.clog.h
  src/generated/linux/datapath_raw_xdp.c.clog.h.lttng.h
  src/generated/linux/quic.clog_datapath_raw_socket.c.clog.h.c
  src/inc/quic_datapath.h
  src/perf/lib/Tcp.cpp
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_raw.c
  src/platform/datapath_raw.h
  src/platform/datapath_raw_dpdk.c
  src/platform/datapath_raw_socket.c
  src/platform/datapath_raw_xdp.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/pcp.c
  src/platform/unittest/DataPathTest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
Labels: Area: Core

#2126 GitHub Action for WAN Perf
  .github/workflows/wan-perf.yml
  scripts/emulated-performance.ps1
  scripts/prepare-machine.ps1
Labels: Area: Performance, Area: Pipeline

#2130 Create CXPLAT_ROUTE to replace QUIC_PATH::LocalAddress and QUIC_PATH::RemoteAddress
  src/core/binding.c
  src/core/binding.h
  src/core/connection.c
  src/core/connection.h
  src/core/crypto.c
  src/core/datagram.c
  src/core/loss_detection.c
  src/core/packet_builder.c
  src/core/path.c
  src/core/path.h
  src/core/send.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/datapath_winkernel.c.clog.h
  src/generated/linux/datapath_winkernel.c.clog.h.lttng.h
  src/inc/quic_datapath.h
  src/perf/lib/Tcp.cpp
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/pcp.c
  src/platform/unittest/DataPathTest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
Labels: Area: Core

#2134 Account for Negative Queue Delay
  src/core/worker.c
Labels: Bug: Core

#2144 Fix static binary linking to runtime libs
  src/bin/CMakeLists.txt
  src/core/CMakeLists.txt
  src/inc/CMakeLists.txt
  src/platform/CMakeLists.txt
Labels: Area: Build

#2119 Add support for easily building on VS 2022, add a VS 2022 AZP build
  .azure/azure-pipelines.ci.yml
  scripts/build.ps1
Labels: Area: Build, OS: Windows (User), Area: Pipeline

#2146 Add support for building arm64ec binaries
  .azure/azure-pipelines.ci.yml
  scripts/build.ps1
  scripts/get-buildconfig.ps1
  src/inc/CMakeLists.txt
Labels: Area: Build

#2155 Fix memory leak when indicated certificate is rejected by app
  docs/api/QUIC_CONNECTION_EVENT.md
  src/core/connection.c
  src/generated/linux/tls_schannel.c.clog.h
  src/generated/linux/tls_schannel.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/quic_tls.h
  src/platform/tls_schannel.c
Labels: TLS: Schannel, Bug: Platform

#2157 Update docs to make clear VS 2022 will work for building
  CMakeLists.txt
  docs/BUILD.md
  docs/PGO.md
Labels: Area: Documentation

#2154 Fix openssl 3 cmake build issues
  submodules/CMakeLists.txt
Labels: Area: Build, TLS: OpenSSL

#2158 Properly handle empty certificate case in schannel cert indication
  docs/api/QUIC_CONNECTION_EVENT.md
  src/core/connection.c
  src/inc/msquic.h
  src/inc/quic_tls.h
  src/platform/tls_schannel.c
  src/platform/unittest/TlsTest.cpp
Labels: TLS: Schannel

#2160 Add portable certificate indication support to schannel
  CMakeLists.txt
  docs/api/QUIC_CREDENTIAL_CONFIG.md
  src/generated/linux/cert_capi.c.clog.h
  src/generated/linux/cert_capi.c.clog.h.lttng.h
  src/inc/quic_cert.h
  src/platform/cert_capi.c
  src/platform/tls_schannel.c
  src/platform/unittest/TlsTest.cpp
Labels: TLS: Schannel

#2161 Copy Full Route into Path
  src/core/connection.c
  src/core/path.c
Labels: Area: Core

#2164 Fix portable certificate flag name
  docs/api/QUIC_CREDENTIAL_CONFIG.md
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/unittest/TlsTest.cpp
Labels: Area: API

#2166 Require specific data to be received to shutdown secnetperf
  scripts/performance-helper.psm1
  src/perf/lib/SecNetPerfMain.cpp
Labels: Bug: Test/Tool

#2172 Fix StreamSend Docs
  docs/api/StreamSend.md
Labels: Area: Documentation

#2167 Add SAN to leaf cert used in PFX tests.
  scripts/install-test-certificates.ps1
Labels: Area: Testing

#2174 Move windows link libraries to base_link for all build types
  src/bin/CMakeLists.txt
  src/inc/CMakeLists.txt
Labels: Area: Build, OS: Windows (User)

#2175 Clean up cmake install paths
  CMakeLists.txt
  scripts/build.rs
  src/bin/CMakeLists.txt
  src/generated/CMakeLists.txt
Labels: Area: Build

#2177 Fix tests on downlevel systems failing at end of test
  scripts/install-test-certificates.ps1
  scripts/log.ps1
Labels: Area: Testing

#2179 Use CMake to find VS version
  scripts/build.ps1
Labels: Area: Build

#2180 Use CMAKE variable for setting extra PGO library directory
  CMakeLists.txt
  scripts/build.ps1
Labels: Area: Build

#2181 Add documentation for configuring editors for MsQuic dev
  docs/Development.md
Labels: Area: Documentation

#2189 Document how to disable Idle Timeout
  docs/Settings.md
  docs/api/QUIC_SETTINGS.md
Labels: Area: Documentation

#2190 Update FAQ
  docs/FAQ.md
Labels: Area: Documentation

#2191 Compile an OpenSSL binary under VS 2022 in CI
  .azure/azure-pipelines.ci.yml
  .azure/templates/build-config-user.yml
Labels: Area: Pipeline
