Repository microsoft/msquic, pull requests merged in 2021-12, with the labels that each got.

#2123 Update QuicTrace app to .NET 6 and QuicTraceLib to newest SDK
  .azure/templates/build-config-quictrace.yml
  scripts/publish-quictrace.ps1
  src/plugins/trace/dll/DataModel/QuicEvent.cs
  src/plugins/trace/dll/QuicEtwSource.cs
  src/plugins/trace/dll/QuicEventCooker.cs
  src/plugins/trace/dll/QuicEventParser.cs
  src/plugins/trace/dll/QuicEventProcessor.cs
  src/plugins/trace/dll/QuicTraceLib.csproj
  src/plugins/trace/exe/Program.cs
  src/plugins/trace/exe/QuicTrace.csproj
Labels: Area: Pipeline, Area: Logging

#2193 Fix Crypto Spelling Mistakes
  src/core/crypto.c
  src/core/crypto.h
  src/core/crypto_tls.c
  src/perf/lib/Tcp.cpp
Labels: Area: Core

#2192 Run internal tests using onebranch binaries.
  .azure/OneBranch.Tests.Official.yml
  .azure/OneBranch.Tests.PullRequest.yml
  .azure/obtemplates/run-bvt.yml
  .azure/obtemplates/upload-test-artifacts.yml
Labels: Area: Pipeline

#2195 Remove internal CI pipeline
  .azure/azure-pipelines-int.ci.yml
Labels: Area: Pipeline

#2194 Set release build in pwsh to relwithdbginfo on unix
  scripts/build.ps1
Labels: Area: Build, OS: Ubuntu, OS: macOS

#2199 Remove old create package yml file, fix update-version script
  .azure/templates/create-package.yml
  scripts/update-version.ps1
Labels: Area: Pipeline

#2198 Perform internal testing using onebranch binaries (cobalt)
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/OneBranch.Tests.Official.yml
  .azure/OneBranch.Tests.PullRequest.yml
  .azure/azure-pipelines-int.ci.yml
  .azure/obtemplates/build-distribution.yml
  .azure/obtemplates/build-winkernel.yml
  .azure/obtemplates/build-winuser.yml
  .azure/obtemplates/create-vpack.yml
  .azure/obtemplates/download-artifacts.yml
  .azure/obtemplates/run-bvt.yml
  .azure/obtemplates/upload-test-artifacts.yml
  scripts/update-version.ps1
Labels: Area: Pipeline, Backport

#2197 Perform internal testing using onebranch binaries (Iron)
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/OneBranch.Tests.Official.yml
  .azure/OneBranch.Tests.PullRequest.yml
  .azure/azure-pipelines-int.ci.yml
  .azure/obtemplates/build-distribution.yml
  .azure/obtemplates/build-winkernel.yml
  .azure/obtemplates/build-winuser.yml
  .azure/obtemplates/create-vpack.yml
  .azure/obtemplates/download-artifacts.yml
  .azure/obtemplates/run-bvt.yml
  .azure/obtemplates/upload-test-artifacts.yml
  scripts/update-version.ps1
Labels: Area: Pipeline, Backport

#2200 Fix connection mishandling out of order initial packets with retrys
  src/core/binding.c
  src/core/connection.c
  src/core/packet.c
  src/core/packet.h
Labels: Area: Core

#2210 Fix an extra folder in onebranch, push vpack manifest and versions for future purposes
  .azure/obtemplates/build-winuser.yml
  .azure/obtemplates/create-vpack.yml
  scripts/package-distribution.ps1
  scripts/update-version.ps1
  scripts/write-versions.ps1
Labels: Area: Pipeline

#2204 Enable single file exe for QuicTrace
  scripts/publish-quictrace.ps1
  src/plugins/trace/dll/QuicTraceLib.csproj
  src/plugins/trace/exe/Program.cs
  src/plugins/trace/exe/QuicTrace.csproj
  src/plugins/trace/exe/SingleFileAssemblyLoader.cs
Labels: Area: Performance, Area: Logging

#2212 Finally use correct variable to skip extra folder
  scripts/package-distribution.ps1
Labels: Area: Pipeline

#2214 Skip manifest folder for iron builds
  scripts/package-distribution.ps1
Labels: Area: Pipeline, Backport

#2215 Skip manifest folder for cobalt builds
  scripts/package-distribution.ps1
Labels: Area: Pipeline, Backport

#2213 Add internal pipeline to push builds to OS repo.
  .azure/OneBranch.Package.yml
  .azure/OneBranch.Tests.Official.yml
  .azure/obtemplates/create-vpack.yml
  .azure/obtemplates/git-submit.yml
  .azure/obtemplates/prepare-vpacks.yml
  .azure/obtemplates/push-vpack.yml
  scripts/generate-git-checkin.ps1
  scripts/update-version.ps1
Labels: Area: Pipeline

#2218 Fix review comments for git push script
  .azure/OneBranch.Package.yml
  scripts/generate-git-checkin.ps1
Labels: Area: Pipeline

#2223 Add Stream AppCloseInProgress flag to shutdown
  src/core/stream.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/tools/sample/sample.c
Labels: Area: Core

#2227 Improve log messages for when logging is disabled in cmake
  CMakeLists.txt
Labels: Area: Build

#2233 Fix peer updating cid when using an empty cid killing a path
  src/core/connection.c
Labels: Area: Core

#2237 ETW Improvements for Pacing Scenario
  src/core/connection.c
  src/core/loss_detection.c
  src/core/send.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/loss_detection.c.clog.h
  src/generated/linux/loss_detection.c.clog.h.lttng.h
  src/generated/linux/send.c.clog.h
  src/generated/linux/send.c.clog.h.lttng.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/plugins/trace/dll/DataModel/QuicEvent.cs
Labels: Area: Logging, Area: Core

#2236 Improve WPA Usage and Docs
  scripts/wpa.ps1
  src/plugins/trace/README.md
  src/plugins/trace/images/ADK_WPT.jpg
  src/plugins/trace/images/wpa.png
Labels: Area: Documentation, Area: Performance, Area: Logging

#2235 Official Support for TLS Secrets
  CMakeLists.txt
  scripts/build.ps1
  scripts/qns.Dockerfile
  src/core/connection.c
  src/core/connection.h
  src/core/core.kernel.vcxproj
  src/core/crypto.c
  src/core/crypto.h
  src/core/crypto_tls.c
  src/inc/msquic.h
  src/inc/msquichelper.h
  src/inc/msquicp.h
  src/inc/quic_tls.h
  src/platform/platform.kernel.vcxproj
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/tools/interop/interop.cpp
  src/tools/interopserver/InteropServer.h
Labels: TLS: OpenSSL, TLS: Schannel, Area: API, Area: Core

#2045 RPS Events
  .azure/azure-pipelines.perf.yml
  docs/Diagnostics.md
  scripts/log.ps1
  scripts/performance-helper.psm1
  scripts/performance.ps1
  src/core/api.c
  src/core/binding.c
  src/core/binding.h
  src/core/connection.c
  src/core/library.h
  src/core/packet_builder.c
  src/core/packet_builder.h
  src/core/sent_packet_metadata.h
  src/core/stream.c
  src/core/stream.h
  src/core/stream_recv.c
  src/core/stream_send.c
  src/generated/linux/api.c.clog.h
  src/generated/linux/api.c.clog.h.lttng.h
  src/generated/linux/binding.c.clog.h
  src/generated/linux/binding.c.clog.h.lttng.h
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/packet_builder.c.clog.h
  src/generated/linux/packet_builder.c.clog.h.lttng.h
  src/generated/linux/stream.c.clog.h
  src/generated/linux/stream.c.clog.h.lttng.h
  src/generated/linux/stream_recv.c.clog.h
  src/generated/linux/stream_recv.c.clog.h.lttng.h
  src/generated/linux/stream_send.c.clog.h
  src/generated/linux/stream_send.c.clog.h.lttng.h
  src/manifest/MsQuic.wprp
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/plugins/QuicTrace.sln
  src/plugins/trace/dll/DataModel/ETW/QuicEtwDataReader.cs
  src/plugins/trace/dll/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/dll/DataModel/QuicObjectSet.cs
  src/plugins/trace/exe/Program.cs
Labels: Area: Logging

#2238 Ensure TLS secrets code path doesn't read null pointer
  src/platform/tls_openssl.c
Labels: TLS: OpenSSL

#2243 Use public pushlock kernel functions
  src/inc/quic_platform_winkernel.h
  src/perf/bin/drvmain.cpp
  src/test/bin/winkernel/control.cpp
Labels: OS: Windows (Kernel)

#2242 Allow 0-RTT packets not in a retry scenario to start a connection
  src/core/binding.c
  src/core/connection.c
Labels: Area: Core

#2241 Diagnostics Docs Improvements
  docs/Diagnostics.md
  src/plugins/trace/dll/QuicTraceLib.csproj
Labels: Area: Documentation

#2246 Don't allow changing share binding flag on closed connection
  src/core/connection.c
Labels: Area: Core

#2252 Don't allow 0-RTT packets to initialize a connection
  src/core/binding.c
Labels: Area: Core

#2226 Make RegistrationShutdown semantics easier to understand
  src/core/api.c
  src/core/binding.c
  src/core/connection.c
  src/core/connection.h
  src/core/listener.c
  src/core/operation.h
  src/core/registration.c
  src/core/registration.h
  src/generated/linux/OwnershipTest.cpp.clog.h
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/quic.clog_OwnershipTest.cpp.clog.h.c
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/CMakeLists.txt
  src/test/lib/HandshakeTest.cpp
  src/test/lib/OwnershipTest.cpp
  src/test/lib/testlib.kernel.vcxproj
Labels: Area: Core

#2257 Publish macos logs from bvt runs
  .azure/templates/upload-test-artifacts.yml
Labels: OS: macOS, Area: Pipeline

#2258 Fix InvalidAddress test on macOS
  src/platform/datapath_kqueue.c
Labels: OS: macOS

#2259 Zero out perproc structures on library initialization
  src/core/library.c
  src/core/library.h
  src/generated/linux/library.c.clog.h
Labels: Bug: Core, Area: Core
