Repository microsoft/msquic, pull requests merged in 2021-08, with the labels that each got.

#1864 Remove disable of SAL for MIB structs
  src/platform/datapath_winkernel.c
Labels: OS: Windows (Kernel)

#1854 Enable spectre and guard:cf for windows user mode builds
  CMakeLists.txt
  src/inc/CMakeLists.txt
  src/test/bin/CMakeLists.txt
  submodules/CMakeLists.txt
Labels: Area: Build, OS: Windows (User)

#1869 Add onebranch pipelines
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.plugins.yml
  .azure/azure-pipelines.qns.yml
  .azure/obtemplates/build-winkernel.yml
  .azure/obtemplates/build-winuser.yml
  .azure/openssl.gdnsuppress
  docs/AZP.md
  scripts/build-kernel.cmd
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/core.kernel.vcxproj
  src/manifest/manifest.kernel.vcxproj
  src/perf/bin/secnetperfdriver.kernel.vcxproj
  src/perf/bin/secnetperfdriverpriv.kernel.vcxproj
  src/perf/lib/perflib.kernel.vcxproj
  src/platform/platform.kernel.vcxproj
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/lib/testlib.kernel.vcxproj
Labels: Area: Build, Area: Pipeline

#1871 Configure OneBranch triggers
  .azure/OneBranch.Official.yml
Labels: Area: Pipeline

#1872 Switch vpack tasks to use public azp image
  .azure/templates/create-package.yml
Labels: Area: Pipeline

#1873 Switch vpack tasks to use public azp image (CP from #1872) (Iron)
  .azure/azure-pipelines.ci.yml
  .azure/templates/create-package.yml
  src/inc/msquic.ver
Labels: Area: Pipeline, Backport

#1874 Switch vpack tasks to use public azp image (CP from #1872) (Cobalt)
  .azure/azure-pipelines.qns.yml
  .azure/templates/create-package.yml
  src/inc/msquic.ver
Labels: Area: Pipeline, Backport

#1867 Small Readme Changes
  README.md
Labels: Area: Documentation

#1865 Add support for tracking process owning connection.
  src/core/binding.c
  src/core/binding.h
  src/core/configuration.c
  src/core/configuration.h
  src/core/connection.c
  src/core/library.c
  src/core/library.h
  src/core/listener.c
  src/inc/quic_datapath.h
  src/inc/quic_platform.h
  src/inc/quic_platform_winkernel.h
  src/perf/lib/SecNetPerfMain.cpp
  src/platform/datapath_winkernel.c
  src/platform/pcp.c
  src/platform/unittest/DataPathTest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
Labels: Area: Core, OS: Windows (Kernel)

#1877 Rename onebranch kernel build script
  .azure/obtemplates/build-winkernel.yml
  scripts/onebranch-build-kernel.cmd
Labels: Area: Build

#1876 Add minimum compiler requirements for CI builds
  CMakeLists.txt
  scripts/build.ps1
  src/bin/CMakeLists.txt
Labels: Area: Build

#1879 Add distribution stage to onebranch builds
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/OneBranch.Tests.yml
  .azure/obtemplates/build-distribution.yml
  .azure/obtemplates/build-winkernel.yml
  .azure/obtemplates/build-winuser.yml
  scripts/package-distribution.ps1
Labels: Area: Pipeline

#1880 Fix official onebranch builds having incorrect yaml
  .azure/OneBranch.Official.yml
Labels: Area: Build, Area: Pipeline

#1875 Return ABORTED if a stream is opened or started after the connection has been shutdown
  src/core/api.c
  src/core/stream.c
Labels: Area: API, Area: Core

#1883 Fix third party notices missing from OpenSSL packaging
  scripts/package-distribution.ps1
Labels: TLS: OpenSSL, Area: Pipeline

#1882 Reset distribution stages to what worked before separate pipeline testing
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/obtemplates/build-distribution.yml
Labels: Area: Pipeline

#1881 Create nuget packages for distribution
  .azure/azure-pipelines.ci.yml
  .azure/templates/build-nuget.yml
  scripts/package-nuget.ps1
  scripts/update-version.ps1
  src/nuget/msquic-openssl.nuspec
  src/nuget/msquic-openssl.targets
  src/nuget/msquic-schannel.nuspec
  src/nuget/msquic-schannel.targets
Labels: Area: Build, OS: Windows (User), TLS: OpenSSL

#1886 Merge packet building spin fix into GitHub repo
  src/core/packet_builder.c
  src/core/packet_builder.h
  src/core/path.c
  src/core/send.c
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
Labels: Bug: Core, Area: Core

#1889 Fix official onebranch builds failing distribution stage
  scripts/package-distribution.ps1
Labels: Area: Pipeline

#1888 Merge packet building spin fix into GitHub repo (Iron)
  src/core/connection.c
  src/core/packet_builder.c
  src/core/packet_builder.h
  src/core/path.c
  src/core/send.c
Labels: Bug: Core, Area: Core, Backport

#1887 Merge packet building spin fix into GitHub repo (Cobalt)
  src/core/connection.c
  src/core/packet_builder.c
  src/core/packet_builder.h
  src/core/path.c
  src/core/send.c
Labels: Bug: Core, Area: Core, Backport

#1885 Consolidate OpenSSL build into a single CMakeLists file
  .github/workflows/codeql-analysis.yml
  CMakeLists.txt
  submodules/CMakeLists.txt
Labels: Area: Build, TLS: OpenSSL

#1890 Fix clog ALPN decoder throwing exception
  src/manifest/clog.sidecar
  src/manifest/msquic.clog.cs
Labels: Area: Logging

#1893 Improve logging docs
  docs/Diagnostics.md
Labels: Area: Documentation

#1897 Increase epoll batch size if segmentation is not available at build time
  src/platform/datapath_epoll.c
Labels: OS: Ubuntu, Area: Performance

#1900 Enable static builds for macOS and Linux
  .azure/azure-pipelines.ci.yml
  .azure/templates/merge-darwin.yml
  scripts/build.ps1
  scripts/merge-darwin.ps1
  src/bin/CMakeLists.txt
  src/core/unittest/CMakeLists.txt
  src/perf/bin/CMakeLists.txt
  src/platform/unittest/CMakeLists.txt
  src/test/bin/CMakeLists.txt
  src/test/lib/CMakeLists.txt
  src/tools/CMakeLists.txt
  src/tools/attack/CMakeLists.txt
Labels: OS: Ubuntu, OS: macOS

#1899 Allow building in directories containing spaces
  CMakeLists.txt
  scripts/build.ps1
Labels: Area: Build, external

#1896 Add shim for sendmmsg when sendmmsg does not exist
  CMakeLists.txt
  src/platform/datapath_epoll.c
Labels: OS: Ubuntu

#1903 Add task to CI to check for changes in the generated CLOG files
  .azure/azure-pipelines.ci.yml
  .azure/templates/check-clog.yml
  src/generated/linux/datapath_winkernel.c.clog.h
  src/manifest/clog.sidecar
Labels: Area: Pipeline

#1904 Add support for building for iOS
  .azure/azure-pipelines.ci.yml
  CMakeLists.txt
  scripts/build.ps1
  scripts/get-buildconfig.ps1
  src/platform/selfsign_openssl.c
Labels: OS: iOS

#1907 Enable OneBranch builds on Iron release
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/obtemplates/build-distribution.yml
  .azure/obtemplates/build-winkernel.yml
  .azure/obtemplates/build-winuser.yml
  .azure/openssl.gdnsuppress
  .azure/opensslexe.gdnsuppress
  CMakeLists.txt
  scripts/onebranch-build-kernel.cmd
  scripts/package-distribution.ps1
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/core.kernel.vcxproj
  src/core/unittest/CMakeLists.txt
  src/inc/CMakeLists.txt
  src/manifest/manifest.kernel.vcxproj
  src/perf/bin/performance.kernel.vcxproj
  src/perf/lib/perflib.kernel.vcxproj
  src/platform/platform.kernel.vcxproj
  src/platform/unittest/CMakeLists.txt
  src/test/bin/CMakeLists.txt
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/lib/testlib.kernel.vcxproj
Labels: Area: Build, Area: Pipeline, Backport

#1906 Enable OneBranch builds on Cobalt release
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/obtemplates/build-distribution.yml
  .azure/obtemplates/build-winkernel.yml
  .azure/obtemplates/build-winuser.yml
  .azure/openssl.gdnsuppress
  CMakeLists.txt
  scripts/onebranch-build-kernel.cmd
  scripts/package-distribution.ps1
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/core/core.kernel.vcxproj
  src/inc/CMakeLists.txt
  src/manifest/manifest.kernel.vcxproj
  src/perf/lib/perflib.kernel.vcxproj
  src/platform/platform.kernel.vcxproj
  src/test/bin/CMakeLists.txt
  src/test/bin/winkernel/msquictest.kernel.vcxproj
  src/test/bin/winkernel/msquictestpriv.kernel.vcxproj
  src/test/lib/testlib.kernel.vcxproj
Labels: Area: Build, Area: Pipeline, Backport

#1905 Fix library version only being set on library unload
  src/core/library.c
Labels: Bug: Core, Area: Core

#1909 Add Nuget publishing to onebranch
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/obtemplates/build-nuget.yml
Labels: Area: Build, Area: Pipeline

#1921 Add proper CI versioning to nuget
  scripts/package-nuget.ps1
  scripts/update-version.ps1
  src/nuget/Microsoft.Native.Quic.MsQuic.OpenSSL.nuspec
  src/nuget/Microsoft.Native.Quic.MsQuic.Schannel.nuspec
Labels: Area: Build, Area: Pipeline

#1924 Refactor Worker Loop
  src/core/worker.c
  src/core/worker.h
  src/generated/linux/worker.c.clog.h
  src/generated/linux/worker.c.clog.h.lttng.h
Labels: Area: Core

#1928 Don't allow stateless operations on a binding until fully initialized
  src/core/binding.c
Labels: Bug: Core, Area: Core

#1926 Fix quicip not waiting for connection shutdown before deleting context
  src/tools/ip/quicip.h
  src/tools/ip/server/quicipserver.cpp
Labels: Bug: Test/Tool

#1927 Enable building macOS and iOS framework bundles
  .azure/azure-pipelines.ci.yml
  .azure/templates/build-darwin-framework.yml
  CMakeLists.txt
  cmake/toolchains/ios.cmake
  scripts/build.ps1
  scripts/merge-darwin.ps1
  scripts/package-darwin-framework.ps1
  scripts/package-darwin-xcframework.ps1
  scripts/package-nuget.ps1
  scripts/update-version.ps1
  src/distribution/Info.plist
  src/distribution/Microsoft.Native.Quic.MsQuic.OpenSSL.nuspec
  src/distribution/Microsoft.Native.Quic.MsQuic.OpenSSL.targets
  src/distribution/Microsoft.Native.Quic.MsQuic.Schannel.nuspec
  src/distribution/Microsoft.Native.Quic.MsQuic.Schannel.targets
  src/distribution/pkgicon.png
  submodules/CMakeLists.txt
Labels: Area: Build, OS: macOS, OS: iOS

#1932 Change congestion control api to use "TimeNow" in microsecond
  src/core/congestion_control.c
  src/core/congestion_control.h
  src/core/loss_detection.c
Labels: external, Area: Core

#1935 Fix casing of makefile on linux for openssl
  submodules/CMakeLists.txt
Labels: OS: Ubuntu, TLS: OpenSSL

#1934 Configure openssl certificate dir correctly during build
  submodules/CMakeLists.txt
Labels: Area: Build, TLS: OpenSSL

#1947 Add GameCore build platform to MSQUIC
  .azure/azure-pipelines.ci.yml
  CMakeLists.txt
  scripts/build.ps1
  scripts/get-buildconfig.ps1
  src/inc/quic_platform_winuser.h
  src/platform/platform_winuser.c
Labels: Area: Build, OS: Windows (User)

#1951 Fix NULL Pointer Read in Stateless Retry Scenario (on Server)
  src/core/connection.c
  src/core/crypto.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/crypto.c.clog.h
  src/generated/linux/crypto.c.clog.h.lttng.h
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
Labels: Bug: Core

#1952 Fix link error in diagnostics.md
  docs/Diagnostics.md
Labels: Area: Documentation, external
