Repository microsoft/msquic, pull requests merged in 2021-09, with the labels that each got.

#1949 Refactor for pluggable congestion control algorithtm
  src/core/CMakeLists.txt
  src/core/congestion_control.c
  src/core/congestion_control.h
  src/core/connection.h
  src/core/core.kernel.vcxproj
  src/core/cubic.h
  src/core/cubic_impl.c
  src/core/cubic_impl.h
  src/core/inline.c
  src/core/packet_builder.h
  src/core/precomp.h
  src/core/quicdef.h
  src/core/send_buffer.c
  src/core/settings.c
  src/generated/linux/congestion_control.c.clog.h
  src/generated/linux/congestion_control.c.clog.h.lttng.h
  src/generated/linux/connection.h.clog.h
  src/generated/linux/connection.h.clog.h.lttng.h
  src/generated/linux/cubic_impl.c.clog.h
  src/generated/linux/cubic_impl.c.clog.h.lttng.h
  src/generated/linux/quic.clog_cubic_impl.c.clog.h.c
  src/generated/linux/settings.c.clog.h
  src/generated/linux/settings.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/msquic_posix.h
  src/manifest/clog.sidecar
Labels: external, Area: Core

#1930 Add client certificate support to OpenSSL
  CMakeLists.txt
  docs/Platforms.md
  src/generated/linux/cert_capi.c.clog.h
  src/generated/linux/selfsign_openssl.c.clog.h
  src/generated/linux/tls_openssl.c.clog.h
  src/generated/linux/tls_openssl.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/msquic_posix.h
  src/inc/msquic_winkernel.h
  src/inc/msquic_winuser.h
  src/inc/quic_cert.h
  src/platform/cert_capi.c
  src/platform/cert_capi_openssl.c
  src/platform/darwin_openssl.c
  src/platform/posix_openssl.c
  src/platform/selfsign_openssl.c
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/unittest/TlsTest.cpp
  src/test/bin/quic_gtest.cpp
  src/test/lib/HandshakeTest.cpp
Labels: TLS: OpenSSL

#1961 Fix onebranch sdl suppressions
  .azure/openssl.gdnsuppress
Labels: Area: Pipeline

#1964 Switch lowercase usages of true in c to TRUE
  src/platform/darwin_openssl.c
  src/platform/datapath_epoll.c
Labels: OS: Ubuntu, OS: macOS

#1965 Update user mode 64 bit pgo
  src/bin/winuser/pgo_x64/msquic.pgd
Labels: Area: Performance

#1970 Fix Test Failures in SendResumption Tests
  src/test/lib/ApiTest.cpp
Labels: Bug: Test/Tool

#1968 Use correct physical memory limits on posix platforms, with cgroups to handle containers
  CMakeLists.txt
  src/generated/linux/platform_posix.c.clog.h
  src/generated/linux/platform_posix.c.clog.h.lttng.h
  src/manifest/clog.sidecar
  src/platform/CMakeLists.txt
  src/platform/cgroup.c
  src/platform/platform_posix.c
Labels: OS: Ubuntu, OS: macOS

#1974 Fixes/improvements for ConnectExpiredServerCertificate
  src/test/lib/HandshakeTest.cpp
  src/test/lib/TestConnection.cpp
Labels: Bug: Test/Tool

#1969 Enable macos core dumps
  scripts/build.ps1
  scripts/prepare-machine.ps1
Labels: OS: macOS, Area: Logging

#1976 Don't Reset BytesInFlight on Path Change
  src/core/congestion_control.c
  src/core/congestion_control.h
  src/core/connection.c
  src/core/cubic_impl.c
  src/core/cubic_impl.h
  src/core/path.c
Labels: Area: Core

#1978 Attempt to fix perf machines getting to a bad state when cancelled.
  scripts/performance-helper.psm1
  scripts/performance.ps1
Labels: Area: Performance, Area: Pipeline

#1977 Release Notes for v1.8
  docs/Release.md
Labels: Area: Documentation

#1973 Link gamecore binaries to correct runtime libs
  .azure/azure-pipelines.ci.yml
  CMakeLists.txt
  scripts/build.ps1
  scripts/get-buildconfig.ps1
  src/bin/CMakeLists.txt
  src/inc/msquic_winuser.h
  src/inc/quic_driver_helpers.h
  src/inc/quic_platform_winuser.h
  src/perf/bin/appmain.cpp
  src/platform/cert_capi.c
  src/platform/crypt_bcrypt.c
  src/platform/datapath_winuser.c
  src/platform/platform_winuser.c
  src/platform/storage_winuser.c
  src/platform/tls_schannel.c
  src/tools/CMakeLists.txt
Labels: Area: Build, OS: Windows (User)

#1983 Update Stream Event Tests to Wait for Handshake Complete
  src/test/lib/EventTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#1985 Increase Handshake Timeouts in Tests
  src/test/lib/DataTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#1986 Fix datapath retry count not incrementing
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_winuser.c
Labels: OS: Windows (User), OS: Ubuntu, OS: macOS

#1987 Increase Test Delay to Account for Delayed ACKs
  src/test/lib/HandshakeTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#1992 More Time for macOS
  src/test/lib/TestConnection.cpp
Labels: Area: Testing, OS: macOS, Bug: Test/Tool

#1991 Release Notes Improvements
  docs/Release.md
Labels: Area: Documentation

#1989 Some Congestion Control Cleanup
  .azure/openssl.gdnsuppress
  src/core/CMakeLists.txt
  src/core/congestion_control.c
  src/core/congestion_control.h
  src/core/core.kernel.vcxproj
  src/core/cubic.c
  src/core/cubic.h
  src/core/cubic_impl.h
  src/core/inline.c
  src/core/precomp.h
  src/core/quicdef.h
  src/generated/linux/congestion_control.c.clog.h
  src/generated/linux/congestion_control.c.clog.h.lttng.h
  src/generated/linux/cubic.c.clog.h
  src/generated/linux/cubic.c.clog.h.lttng.h
  src/generated/linux/quic.clog_cubic.c.clog.h.c
Labels: Area: Core

#1988 Fix some small spacing nits
  src/core/binding.c
  src/generated/linux/datapath_epoll.c.clog.h
  src/generated/linux/datapath_epoll.c.clog.h.lttng.h
  src/platform/datapath_epoll.c
  src/platform/platform_winuser.c
Labels: Area: Build

#1990 Add Path Change Perf Counters
  docs/Diagnostics.md
  src/bin/winkernel/msquicpcw.c
  src/core/binding.c
  src/core/connection.c
  src/core/loss_detection.c
  src/inc/msquic.h
  src/inc/msquichelper.h
  src/tools/etw/trace.c
Labels: Area: API, Area: Core

#1850 Cancel all sends upon silent abort
  src/core/cid.h
  src/core/connection.c
  src/core/loss_detection.c
  src/core/path.c
  src/core/send.c
  src/core/send.h
  src/inc/quic_platform_posix.h
  src/platform/platform_posix.c
Labels: Bug: Core, Area: Core

#1995 Poll with Retry in Datagram Test
  src/test/lib/DatagramTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#1981 Publish separate vpacks for each configuration and architecture
  .azure/templates/create-package.yml
  scripts/prepare-package.ps1
Labels: Area: Build, OS: Windows (Kernel)

#1998 Treat Errors as Warnings on macOS
  .azure/azure-pipelines.ci.yml
  scripts/run-gtest.ps1
  scripts/test.ps1
Labels: Area: Testing, OS: macOS

#1999 Bypass TDI to make IP_PKTINFO work properly
  src/generated/linux/datapath_winkernel.c.clog.h
  src/platform/datapath_winkernel.c
Labels: OS: Windows (Kernel), external

#1997 Add a script to always clean up perf machines
  .azure/templates/run-performance.yml
  .azure/templates/run-wanperf.yml
  scripts/cancel-performance.ps1
  scripts/performance-helper.psm1
Labels: Area: Performance, Area: Pipeline

#1996 Connection Event Documentation
  docs/api/ConnectionOpen.md
  docs/api/QUIC_CONNECTION_CALLBACK.md
  docs/api/QUIC_CONNECTION_EVENT.md
  src/core/connection.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/manifest/clog.sidecar
Labels: Area: Documentation

#2006 Refactor for Ack/Loss events passing to CC
  src/core/congestion_control.h
  src/core/cubic.c
  src/core/inline.c
  src/core/loss_detection.c
Labels: external, Area: Core

#2005 Fix gamecore on older windows sdk, require a minimum gdk, remove scarlett
  CMakeLists.txt
  scripts/build.ps1
  scripts/get-buildconfig.ps1
  src/platform/tls_schannel.c
Labels: Area: Build

#2003 Clean up cmake include checks, allow missing atomic on linux
  CMakeLists.txt
  src/inc/CMakeLists.txt
Labels: OS: Ubuntu

#2001 Switch windows kit lookup to be smart and select the newest kit
  scripts/run-gtest.ps1
Labels: Area: Build

#2002 Add UWP nuget package
  .azure/azure-pipelines.ci.yml
  .azure/obtemplates/build-nuget.yml
  .azure/templates/build-nuget.yml
  scripts/package-nuget.ps1
  src/distribution/Microsoft.Native.Quic.MsQuic.UWP.OpenSSL.nuspec
  src/distribution/Microsoft.Native.Quic.MsQuic.UWP.OpenSSL.targets
  src/inc/msquic_winuser.h
Labels: Area: Build, Area: Pipeline

#2004 Fix cgroups debug asserting on certain platforms
  src/platform/cgroup.c
Labels: OS: Ubuntu, Bug: Platform

#2008 More gtest Warning Refactoring
  scripts/run-gtest.ps1
Labels: Area: Testing, Area: Pipeline

#2010 CP #1951 to v1.0 (Fe)
  src/core/connection.c
  src/core/crypto.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/crypto.c.clog.h
  src/generated/linux/crypto.c.clog.h.lttng.h
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
Labels: Backport

#2011 CP #1951 to v1.1 (Co)
  src/core/connection.c
  src/core/crypto.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/crypto.c.clog.h
  src/generated/linux/crypto.c.clog.h.lttng.h
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
Labels: Backport

#2012 Cancel all sends upon silent abort (Fe)
  src/core/connection.c
  src/core/send.c
  src/core/send.h
Labels: Bug: Core, Backport

#2013 Cancel all sends upon silent abort
  src/core/connection.c
  src/core/send.c
  src/core/send.h
Labels: Bug: Core, Backport

#2014 Push individual vpacks rather than multiarchitecture flag
  .azure/templates/create-package.yml
Labels: Area: Pipeline

#2015 Switch away from integration branches for internal CI (FE)
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/azure-pipelines-int.ci.yml
  scripts/integrate-branch.ps1
Labels: Area: Pipeline, Backport

#2016 Switch away from integration branches for internal CI (CO)
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/azure-pipelines-int.ci.yml
  scripts/integrate-branch.ps1
Labels: Area: Pipeline, Backport

#1966 Correct client certificate validation policy on Windows and macOS.
  src/generated/linux/cert_capi.c.clog.h
  src/generated/linux/cert_capi.c.clog.h.lttng.h
  src/generated/linux/cert_capi_openssl.c.clog.h
  src/inc/quic_cert.h
  src/platform/cert_capi.c
  src/platform/cert_capi_openssl.c
  src/platform/darwin_openssl.c
  src/platform/selfsign_openssl.c
Labels: OS: Windows (User), OS: macOS, TLS: OpenSSL, Bug: Platform

#2019 Increment Patch Version (Fe)
  .azure/templates/create-package.yml
  scripts/package-distribution.ps1
  src/inc/msquic.ver
Labels: Area: Build, Area: Pipeline

#2020 Increment Patch Version (Co)
  .azure/azure-pipelines.qns.yml
  .azure/templates/create-package.yml
  scripts/package-distribution.ps1
  src/inc/msquic.ver
Labels: Area: Build, Area: Pipeline

#2021 Windows File Attribute Fixes
  src/inc/msquic.ver
Labels: Area: Build, OS: Windows (User), OS: Windows (Kernel)

#2023 Fix Package Distribution (Fe)
  scripts/package-distribution.ps1
Labels: Area: Pipeline

#2024 Fix Package Distribution (Co)
  scripts/package-distribution.ps1
Labels: Area: Pipeline

#2022 Fix cmake static builds on ninja
  CMakeLists.txt
  src/bin/CMakeLists.txt
  src/core/unittest/CMakeLists.txt
  src/inc/CMakeLists.txt
  src/perf/bin/CMakeLists.txt
  src/platform/unittest/CMakeLists.txt
  src/test/bin/CMakeLists.txt
  src/tools/CMakeLists.txt
Labels: Area: Build, OS: Ubuntu, OS: macOS

#1958 Add Windows Server 2022 Tests for User Mode Schannel
  .azure/azure-pipelines-int.ci.yml
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.perf.yml
  .azure/azure-pipelines.periodic.yml
  .azure/azure-pipelines.wanperf.yml
  .azure/templates/build-config-dbgext.yml
  .azure/templates/build-config-quictrace.yml
  .azure/templates/build-config-winkernel.yml
  .azure/templates/build-nuget.yml
  .azure/templates/check-clog.yml
  .azure/templates/create-package.yml
  .azure/templates/merge-publish-coverage.yml
  .azure/templates/run-bvt.yml
Labels: Area: Pipeline

#2027 Don't wrap all headers in extern C
  src/core/crypto.h
  src/core/frame.h
  src/core/library.h
  src/core/precomp.h
  src/core/range.h
  src/core/transport_params.h
  src/core/version_neg.h
Labels: Area: Build, OS: Ubuntu

#2028 Run more BVT and SpinQuic on windows-2022
  .azure/azure-pipelines.ci.yml
  .azure/templates/merge-publish-coverage.yml
  .azure/templates/run-spinquic.yml
Labels: Area: Testing, Area: Stress, OS: Windows (User), Area: Pipeline

#2030 Rework issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Area: Documentation, external

#2031 YAML-based issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: external

#2038 Publish Docker Image to GitHub Registry
  .github/workflows/docker-publish.yml
Labels: Area: Build, Area: Pipeline
