Repository microsoft/msquic, pull requests merged in 2021-10, with the labels that each got.

#2042 Build linux binaries in onebranch
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
  .azure/obtemplates/build-distribution.yml
  .azure/obtemplates/build-linux.yml
  .azure/obtemplates/build-nuget.yml
  scripts/prepare-machine.ps1
Labels: Area: Build, OS: Ubuntu

#2017 Grab a UDP Port Reservation
  src/generated/linux/datapath_winuser.c.clog.h
  src/platform/datapath_winuser.c
  src/test/lib/HandshakeTest.cpp
Labels: OS: Windows (User), Bug: Platform

#2040 Move/Rename QNS Dockerfile
  .github/workflows/docker-publish.yml
  scripts/qns.Dockerfile
Labels: Area: Pipeline

#2049 Correctly Handle FIN after Stream Reset
  src/core/api.c
  src/core/stream.c
  src/core/stream_recv.c
  src/generated/linux/stream_recv.c.clog.h
  src/generated/linux/stream_recv.c.clog.h.lttng.h
  src/inc/msquic.h
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/DataTest.cpp
Labels: Bug: Core

#2050 Fix Flow Control Assert
  src/core/stream_recv.c
Labels: Area: Core

#2053 Fix CLOG sidecar
  src/manifest/clog.sidecar
Labels: Area: Logging
