Repository microsoft/msquic, pull requests merged in 2022-06, with the labels that each got.

#2772 Switch order of unsafe and static in C# code
  src/cs/lib/msquic_extensions.cs
Labels: Language: C#

#2755 SetParam tests for Get-Only parameters
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing

#2777 Add tests for SetParam for any object/parameter
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2775 Add SetParam test for Registration
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2783 Update Rust definitions and documentation for new parameters.
  docs/Settings.md
  src/lib.rs
  src/platform/tls_schannel.c
Labels: Area: Documentation, Language: Rust

#2790 Add synchronization for EC contexts
  src/inc/quic_platform.h
  src/platform/platform_worker.c
Labels: Bug: Platform

#2792 Fix linux sharedec not using sharedec bits
  .azure/azure-pipelines.perf.yml
Labels: Area: Performance

#2801 Handle port set rule not found during socket deletion gracefully
  src/platform/datapath_raw_xdp.c
Labels: Bug: Platform, Area: Lola

#2780 Documentation and Improvements to Help Consumers of QUIC_STATISTICS_V2
  docs/Settings.md
  scripts/generate-dotnet.ps1
  src/core/connection.c
  src/inc/msquic.h
Labels: Area: Documentation, Area: API

#2806 Switch HPS plots from Hz to KHz to match RPS
  assets/summary/dataView.js
  detailed.html
  index.html
Labels: Area: Performance

#2805 Clean up datapath on route resolution init failure
  src/platform/datapath_raw.c
Labels: Bug: Platform, Area: Lola

#2804 Updates for QuicTrace
  src/core/packet_builder.c
  src/generated/linux/packet_builder.c.clog.h
  src/generated/linux/packet_builder.c.clog.h.lttng.h
  src/plugins/trace/exe/Program.cs
Labels: Area: Logging

#2778 Add more SetParam tests for Listener
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2776 Add more SetParam tests for Stream
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2799 Add GetParam tests for Stream
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/precomp.h
Labels: Area: Testing, Area: API

#2811 RPS Latency Analysis Improvements
  src/core/stream_recv.c
  src/generated/linux/stream_recv.c.clog.h
  src/generated/linux/stream_recv.c.clog.h.lttng.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/plugins/trace/dll/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/exe/Program.cs
Labels: Area: Testing, Area: Performance, Area: Logging, Area: Lola

#2812 Optimize EC list synchronization
  src/inc/quic_platform.h
  src/platform/platform_worker.c
Labels: Bug: Platform, Area: Lola

#2782 Support multiple expected certificate validation results in tests
  src/test/lib/HandshakeTest.cpp
  src/test/lib/TestConnection.cpp
  src/test/lib/TestConnection.h
  src/test/lib/TestHelpers.h
Labels: Area: Testing

#2774 Add more SetParam tests for Global
  src/core/quicdef.h
  src/core/transport_params.h
  src/test/lib/ApiTest.cpp
  src/test/lib/TestHelpers.h
  src/test/lib/precomp.h
Labels: Area: Testing, Area: API

#2817 Update XDP PGO File
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Lola

#2816 Fix RECEIVE BufferCount SAL Annotation
  src/inc/msquic.h
Labels: Area: Documentation, Area: API

#2803 Add GetParam tests for Listener
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2781 Add more SetParam tests for Configuration
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2802 Add GetParam tests for Configuration
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2824 More RPS Analysis and Updates
  .azure/azure-pipelines.perf.yml
  scripts/log.ps1
  scripts/performance.ps1
  src/manifest/MsQuicEtw.man
  src/plugins/trace/dll/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/exe/Program.cs
Labels: Area: Performance, Area: Logging, Area: Lola

#2822 Add GetParam tests for Registration and Common
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2826 Add NI_RELEASE to issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: Area: Documentation, external

#2819 Add more Set/GetParam tests for Connection
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/TestHelpers.h
Labels: Area: Testing, Area: API

#2833 Nibanks/streamstatetable
  src/plugins/trace/dll/DataModel/QuicPacket.cs
  src/plugins/trace/dll/DataModel/QuicStream.cs
  src/plugins/trace/dll/DataModel/QuicStreamTiming.cs
  src/plugins/trace/dll/Tables/QuicStreamStateTable.cs
Labels: Area: Performance, Area: Logging, Area: Lola

#2834 Improvements to Latency of Receive Code Paths
  src/core/api.c
  src/core/stream.h
  src/core/stream_recv.c
  src/generated/linux/stream_recv.c.clog.h
  src/generated/linux/stream_recv.c.clog.h.lttng.h
Labels: Area: Performance, Area: API, Area: Lola

#2837 open sslkeylogfile with shared read-write flag on Windows
  src/inc/msquichelper.h
Labels: OS: Windows (User), external

#2845 Improve Version Settings API Usage
  src/core/settings.c
  src/core/version_neg.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/TestHelpers.h
Labels: Area: API

#2849 Add new StreamAppReceiveCompleteCall Event
  src/core/api.c
  src/generated/linux/api.c.clog.h
  src/generated/linux/api.c.clog.h.lttng.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
Labels: Area: Logging

#2853 Fix for Recent DatagramSend Test Regression
  src/test/lib/DatagramTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#2852 Expose Wire Format Error Code on Close
  docs/api/QUIC_CONNECTION_EVENT.md
  src/core/connection.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/lib.rs
Labels: Area: API, Area: Core

#2850 Improve WPA stream state plugin to show when receive complete API is called
  src/plugins/trace/dll/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/dll/DataModel/QuicStream.cs
  src/plugins/trace/dll/DataModel/QuicStreamTiming.cs
Labels: Area: Logging

#2854 Sort stream state names by the time they occur
  src/plugins/trace/dll/Tables/QuicStreamStateTable.cs
Labels: Area: Performance, Area: Logging

#2828 ConnectionClose test in Callback
  src/inc/msquic.hpp
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2856 RPS Perf Client Custom Local Addresses
  src/perf/lib/RpsClient.cpp
  src/perf/lib/RpsClient.h
Labels: Area: Performance
