Repository microsoft/msquic, pull requests merged in 2022-01, with the labels that each got.

#2266 Improve Pacing Send Logic
  scripts/wpa.ps1
  src/core/cubic.c
  src/core/cubic.h
Labels: Area: Performance, Area: Core

#2263 Artificially increase ProcShifted by 1 for PacketId
  src/core/binding.c
  src/core/packet_builder.c
Labels: Area: Core

#2270 Collect WAN Perf Logs and Fix Issues Found with them
  .github/workflows/wan-perf.yml
  docs/tat/default.tat
  scripts/emulated-performance.ps1
  src/core/congestion_control.h
  src/core/cubic.c
  src/core/inline.c
  src/core/loss_detection.c
  src/perf/bin/appmain.cpp
  src/perf/lib/ThroughputClient.cpp
Labels: Area: Performance, Area: Pipeline, Area: Logging, Area: Core

#2274 WPA Plugin Support for Connection UDP Send Batch
  src/plugins/trace/dll/DataModel/QuicState.cs
  src/plugins/trace/dll/Tables/QuicNetworkTable.cs
Labels: Area: Performance

#2277 Remove WAN Perf from Merge Post Processing
  powershell/merge-performance.ps1
Labels: Area: Performance

#2278 Move Rest of WAN Perf to Action
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.periodic.yml
  .azure/azure-pipelines.wanperf.yml
  .azure/templates/post-process-performance.yml
  .azure/templates/post-process-periodic-performance.yml
  .azure/templates/run-wanperf.yml
  .github/workflows/wan-perf.yml
  scripts/emulated-performance.ps1
Labels: Area: Performance, Area: Pipeline

#2279 Release/1.0 - Always Set CID if NULL
  src/core/connection.c
Labels: Bug: Core, Area: Core

#2269 CUBICbis updates
  src/core/cubic.c
  src/core/cubic.h
Labels: Area: Performance, Area: Core

#2285 Improve Output Format of Merged WAN Perf Data
  scripts/emulated-performance.ps1
Labels: Area: Performance, Area: Automation

#2286 Add XDP event provider to RPS profile
  src/manifest/MsQuic.wprp
Labels: Area: Performance, Area: Logging

#2284 WPA Plugin Tx Delay Graph
  src/plugins/trace/dll/DataModel/QuicConnection.cs
  src/plugins/trace/dll/DataModel/QuicData.cs
  src/plugins/trace/dll/DataModel/QuicObjectSet.cs
  src/plugins/trace/dll/DataModel/QuicState.cs
  src/plugins/trace/dll/QuicEventParser.cs
  src/plugins/trace/dll/Tables/QuicNetworkTable.cs
Labels: Area: Performance

#2287 Log Stream ID in RPS Output
  src/plugins/trace/exe/Program.cs
Labels: Area: Performance, Area: Logging

#2294 Use 64-bit TimeNow
  src/core/loss_detection.c
Labels: Area: Core

#2296 General CC Improvements
  src/core/connection.c
  src/core/connection.h
  src/core/cubic.c
  src/core/inline.c
  src/core/loss_detection.c
  src/core/path.h
  src/core/quicdef.h
  src/core/send.c
Labels: Area: Performance, Area: Core

#2307 Link NuGet badge to both NuPkgs (not just Schannel)
  README.md
Labels: Area: Documentation, external

#2234 Try 1000 Mbps WAN Perf Rate
  .github/workflows/wan-perf.yml
Labels: Area: Performance

#2303 Readme Header Changes
  README.md
Labels: Area: Documentation

#2304 Don't Double CWND Reduction in Persistent Congestion
  src/core/cubic.c
  src/generated/linux/cubic.c.clog.h
  src/generated/linux/cubic.c.clog.h.lttng.h
Labels: Bug: Core, Area: Performance, Area: Core

#2300 Support High Resolution Timer (WinUser)
  CMakeLists.txt
  scripts/build.ps1
  src/generated/linux/platform_winuser.c.clog.h
  src/generated/linux/platform_winuser.c.clog.h.lttng.h
  src/manifest/clog.sidecar
  src/platform/CMakeLists.txt
  src/platform/platform_winuser.c
Labels: OS: Windows (User), Area: Performance

#2310 Create scorecards-analysis.yml
  .github/dependabot.yml
  .github/workflows/check-clog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror-repo.yml
  .github/workflows/scorecards-analysis.yml
  .github/workflows/wan-perf.yml
  scripts/qns.Dockerfile
Labels: Area: Automation

#2305 Some Cubic Clean Up
  src/core/cubic.c
  src/core/cubic.h
Labels: Area: Core

#2319 Improve WAN Perf Formatted Output
  scripts/emulated-performance.ps1
Labels: Area: Performance, Area: Automation

#2333 Set Large FC Window for Perf
  src/perf/lib/PerfCommon.h
  src/perf/lib/PerfServer.h
  src/perf/lib/ThroughputClient.h
Labels: Area: Performance

#2335 Write WAN Perf Results to CSV
  .github/workflows/wan-perf.yml
  scripts/emulated-performance.ps1
Labels: Area: Performance, Area: Automation

#2337 Fix msquicplatformtest crashing if pfx parameter is missing
  src/platform/unittest/TlsTest.cpp
Labels: Area: Testing

#2327 [Experiment] Use a larger ring buffer size for duonic
  scripts/emulated-performance.ps1
Labels: Area: Testing, Area: Performance

#2340 Collect pktmon traces for WAN perf
  scripts/emulated-performance.ps1
Labels: Area: Performance, Area: Automation

#2345 Document effects of QUIC_CREDENTIAL_FLAG_USE_PORTABLE_CERTIFICATES
  docs/api/QUIC_CONNECTION_EVENT.md
  docs/api/QUIC_CREDENTIAL_CONFIG.md
Labels: Area: Documentation, external

#2308 TSG: NIC Receive Packet Drops
  docs/TSG.md
  docs/images/nic-recv-buffers.png
  docs/images/udp-perf-counters.png
Labels: Area: Documentation

#2343 Larger Max Connection Receive Queue
  src/core/quicdef.h
Labels: Area: Performance, Area: Core

#2349 Add TLS test for the different credential types.
  src/generated/linux/selfsign_openssl.c.clog.h
  src/generated/linux/selfsign_openssl.c.clog.h.lttng.h
  src/inc/quic_platform.h
  src/platform/certificates_capi.c
  src/platform/selfsign_capi.c
  src/platform/selfsign_openssl.c
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing
