Repository microsoft/msquic, pull requests merged in 2022-07, with the labels that each got.

#2865 Stream send & Session resumption for Conn Close test
  src/inc/msquic.hpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API

#2872 Include connection close details in stream's SHUTDOWN_COMPLETE
  src/core/stream.c
  src/cs/lib/msquic_generated.cs
  src/generated/linux/stream.c.clog.h
  src/generated/linux/stream.c.clog.h.lttng.h
  src/inc/msquic.h
  src/manifest/clog.sidecar
Labels: Area: API

#2870 Indicate Stream Start Abort Event from Send Start
  src/core/operation.c
  src/core/stream.c
  src/core/stream.h
  src/core/stream_send.c
  src/inc/msquic.hpp
  src/plugins/dbg/quictypes.h
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Area: API, Area: Core

#2882 fix logging commands for Linux
  docs/Diagnostics.md
Labels: Area: Documentation

#2884 Add missing status codes to C# interop
  src/cs/lib/MsQuicException.cs
  src/cs/lib/msquic.cs
  src/cs/lib/msquic_generated_linux.cs
  src/cs/lib/msquic_generated_macos.cs
  src/cs/lib/msquic_generated_windows.cs
Labels: Area: API, Language: C#

#2887 Interop runner support for Version 2
  scripts/run_endpoint.sh
  src/tools/interop/interop.cpp
  src/tools/interop/interop.h
Labels: Area: Testing, Area: Interop

#2873 Stream level stats API
  docs/Settings.md
  src/core/connection.h
  src/core/send.h
  src/core/stream.c
  src/core/stream.h
  src/core/stream_set.c
  src/cs/lib/msquic_generated.cs
  src/generated/linux/stream.c.clog.h
  src/generated/linux/stream.c.clog.h.lttng.h
  src/inc/msquic.h
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/test/lib/ApiTest.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#2883 Fixed details of stream SHUTDOWN_COMPLETE for ConnectionShutdown
  src/core/stream.c
  src/cs/lib/msquic_generated.cs
  src/generated/linux/stream.c.clog.h
  src/generated/linux/stream.c.clog.h.lttng.h
  src/inc/msquic.h
  src/manifest/clog.sidecar
  src/test/lib/DataTest.cpp
  src/test/lib/TestStream.cpp
  src/test/lib/TestStream.h
Labels: Area: API

#2897 XDP Yield to Scheduler with No Work
  src/inc/quic_platform_posix.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_raw_xdp.c
  src/platform/datapath_winuser.c
  src/platform/platform_internal.h
  src/platform/platform_worker.c
Labels: Area: Performance, Area: Lola

#2899 Fixes for Tail Latency Issues with XDP
  src/core/worker.c
  src/inc/quic_platform.h
  src/inc/quic_platform_posix.h
  src/inc/quic_platform_winkernel.h
  src/inc/quic_platform_winuser.h
  src/manifest/MsQuicEtw.man
  src/perf/lib/RpsClient.cpp
  src/perf/lib/RpsClient.h
  src/platform/platform_worker.c
Labels: Bug: Core, Area: Performance, Area: Logging, Bug: Platform, Area: Lola

#2901 Update to v0.16.3 prerelease of XDP
  .azure/azure-pipelines.perf.yml
  scripts/xdp-devkit.json
Labels: Area: Lola

#2911 Linux IP_PMTUDISC_PROBE
  src/platform/datapath_epoll.c
Labels: OS: Ubuntu, external

#2907 Add registry configuration for Version Settings.
  docs/Settings.md
  src/core/quicdef.h
  src/core/settings.c
  src/generated/linux/settings.c.clog.h
  src/generated/linux/settings.c.clog.h.lttng.h
  src/inc/msquic.hpp
  src/manifest/clog.sidecar
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Core

#2785 Add support for Schannel in-proc certificate API.
  .azure/azure-pipelines.ci.yml
  docs/api/QUIC_CREDENTIAL_CONFIG.md
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/inc/quic_cert.h
  src/platform/cert_capi.c
  src/platform/tls_openssl.c
  src/platform/tls_schannel.c
  src/platform/unittest/TlsTest.cpp
Labels: OS: Windows (User), OS: Windows (Kernel), TLS: Schannel, Area: API, Area: Core

#2912 Try fix Android
  scripts/build.ps1
Labels: Area: Build

#2916 Move to GetQueuedCompletionStatusEx
  src/inc/quic_platform_winuser.h
  src/platform/crypt_bcrypt.c
  src/platform/datapath_winuser.c
Labels: OS: Windows (User), Area: Performance

#2071 Implement BBR congestion control algorithm
  .github/workflows/wan-perf.yml
  docs/Settings.md
  docs/api/QUIC_SETTINGS.md
  scripts/clog.inputs
  scripts/emulated-performance.ps1
  src/core/CMakeLists.txt
  src/core/bbr.c
  src/core/bbr.h
  src/core/congestion_control.c
  src/core/congestion_control.h
  src/core/connection.h
  src/core/core.kernel.vcxproj
  src/core/cubic.c
  src/core/inline.c
  src/core/loss_detection.c
  src/core/loss_detection.h
  src/core/precomp.h
  src/core/sent_packet_metadata.h
  src/core/sliding_window_extremum.c
  src/core/sliding_window_extremum.h
  src/core/stream.h
  src/core/stream_send.c
  src/core/unittest/CMakeLists.txt
  src/core/unittest/SlidingWindowExtremumTest.cpp
  src/cs/lib/msquic_generated.cs
  src/generated/linux/SlidingWindowExtremumTest.cpp.clog.h
  src/generated/linux/bbr.c.clog.h
  src/generated/linux/bbr.c.clog.h.lttng.h
  src/generated/linux/connection.h.clog.h
  src/generated/linux/connection.h.clog.h.lttng.h
  src/generated/linux/quic.clog_SlidingWindowExtremumTest.cpp.clog.h.c
  src/generated/linux/quic.clog_bbr.c.clog.h.c
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/perf/lib/PerfServer.h
  src/perf/lib/SecNetPerfMain.cpp
  src/perf/lib/ThroughputClient.cpp
  src/perf/lib/ThroughputClient.h
  src/plugins/trace/dll/DataModel/QuicEvent.cs
  src/tools/etw/quicetw.h
Labels: external, Area: Performance, blocked, Area: Core
