Repository microsoft/msquic, pull requests merged in 2023-11, with the labels that each got.

#3950 Add XDP support and TCP Syn flooding into the attack tool.
  src/tools/attack/attack.cpp
Labels: Area: Testing, Area: Stress

#3961 Basic NMR integration for MsQuic
  scripts/clog.inputs
  src/bin/winkernel/driver.c
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/bin/winkernel/nmrprovider.c
  src/generated/linux/nmrprovider.c.clog.h
  src/generated/linux/nmrprovider.c.clog.h.lttng.h
  src/generated/linux/quic.clog_nmrprovider.c.clog.h.c
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/inc/msquic_winkernel.h
  src/manifest/clog.sidecar
  src/test/bin/winkernel/control.cpp
Labels: OS: Windows (Kernel), Area: API

#3973 Fix Internal Build Break from XDP Kit Removal
  .azure/azure-pipelines.periodic.yml
  .azure/obtemplates/build-winuser.yml
Labels: Area: Build, Area: Automation
