Repository microsoft/msquic, pull requests merged in 2023-09, with the labels that each got.

#3841 WPA Plugin Fixes for Stream Timing Breakdowns
  src/plugins/trace/dll/DataModel/QuicStream.cs
Labels: Area: Performance, Area: Logging

#3834 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.openssl3.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Automation

#3848 Migrate Send Logic to 64-bit Time
  src/core/bbr.c
  src/core/bbr.h
  src/core/congestion_control.h
  src/core/connection.c
  src/core/connection.h
  src/core/cubic.c
  src/core/cubic.h
  src/core/loss_detection.c
  src/core/loss_detection.h
  src/core/packet_builder.c
  src/core/path.h
  src/core/send.c
  src/core/sent_packet_metadata.h
  src/core/stream.c
  src/core/stream.h
  src/core/stream_recv.c
  src/generated/linux/bbr.c.clog.h
  src/generated/linux/bbr.c.clog.h.lttng.h
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/connection.h.clog.h
  src/generated/linux/connection.h.clog.h.lttng.h
  src/generated/linux/cubic.c.clog.h
  src/generated/linux/cubic.c.clog.h.lttng.h
  src/generated/linux/loss_detection.c.clog.h
  src/generated/linux/loss_detection.c.clog.h.lttng.h
  src/generated/linux/stream_recv.c.clog.h
  src/generated/linux/stream_recv.c.clog.h.lttng.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/plugins/dbg/quictypes.h
  src/plugins/trace/dll/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/trace/dll/DataModel/LTTng/QuicLTTngEvent.cs
  src/plugins/trace/dll/DataModel/QuicConnection.cs
  src/plugins/trace/dll/DataModel/QuicEvent.cs
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/dll/DataModel/QuicWorker.cs
Labels: Area: Core

#3847 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.openssl3.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Automation

#3846 One-Way Delay Feature Support
  README.md
  src/core/ack_tracker.c
  src/core/bbr.c
  src/core/binding.c
  src/core/binding.h
  src/core/congestion_control.h
  src/core/connection.c
  src/core/connection.h
  src/core/crypto_tls.c
  src/core/cubic.c
  src/core/frame.c
  src/core/frame.h
  src/core/loss_detection.c
  src/core/loss_detection.h
  src/core/path.h
  src/core/quicdef.h
  src/core/sent_packet_metadata.h
  src/core/settings.c
  src/core/settings.h
  src/core/unittest/SettingsTest.cpp
  src/core/unittest/SpinFrame.cpp
  src/cs/lib/msquic_generated.cs
  src/generated/linux/bbr.c.clog.h
  src/generated/linux/bbr.c.clog.h.lttng.h
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/generated/linux/crypto_tls.c.clog.h
  src/generated/linux/crypto_tls.c.clog.h.lttng.h
  src/generated/linux/cubic.c.clog.h
  src/generated/linux/cubic.c.clog.h.lttng.h
  src/generated/linux/frame.c.clog.h
  src/generated/linux/frame.c.clog.h.lttng.h
  src/generated/linux/loss_detection.c.clog.h
  src/generated/linux/loss_detection.c.clog.h.lttng.h
  src/generated/linux/settings.c.clog.h
  src/generated/linux/settings.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/perf/lib/PerfServer.h
  src/perf/lib/ThroughputClient.h
  src/plugins/trace/dll/DataModel/ETW/QuicEtwEvent.cs
  src/plugins/trace/dll/DataModel/LTTng/QuicLTTngEvent.cs
  src/plugins/trace/dll/DataModel/QuicConnection.cs
  src/plugins/trace/dll/DataModel/QuicData.cs
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/dll/Tables/QuicNetworkTable.cs
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: Protocol Updates, Area: API, Area: Core

#3851 Fix Attack Tool
  src/tools/attack/packet_writer.cpp
Labels: Bug: Test/Tool

#3852 Explicitly Set Checkout Repository
  .github/workflows/build-reuse-darwin-framework.yml
  .github/workflows/build-reuse-unix.yml
  .github/workflows/build-reuse-win.yml
  .github/workflows/build-reuse-winkernel.yml
Labels: Area: Build, Area: Automation

#3861 Filter Build Artifacts
  .github/workflows/build-reuse-win.yml
  .github/workflows/build-reuse-winkernel.yml
Labels: Area: Build, Area: Automation

#3833 Add DocFx Integration
  .github/workflows/publish-docfx.yml
  .gitignore
  scripts/generate-docfx-yml.ps1
  scripts/prepare-docfx.ps1
  scripts/update-docfx-site.ps1
Labels: Area: Documentation

#3873 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.openssl3.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
Labels: Area: Performance, Area: Automation

#3876 Fixes Incorrect Docs for Idle Timeout
  docs/Settings.md
Labels: Area: Documentation

#3878 Backport v2.2: Fix syntax for pre-C23 standard compilers (#3736)
  src/generated/stdout/quic_trace.c
Labels: Area: Logging

#3877 Backport v2.2: Disable Segmentation Support on EIO (#3867)
  src/generated/linux/datapath_epoll.c.clog.h
  src/generated/linux/datapath_epoll.c.clog.h.lttng.h
  src/platform/datapath_epoll.c
Labels: OS: Android

#3883 Work Around Android Build Failures
  scripts/build.ps1
Labels: Area: Build, TLS: OpenSSL, OS: Android

#3882 fix: leakage of NumaNodeMasks
  src/platform/platform_posix.c
Labels: OS: Ubuntu, Bug: Platform

#3879 Expose Interface for App to Set Stateless Reset Key
  docs/Settings.md
  src/core/library.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/DataTest.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#3817 Phase 2 of enabling new Stream Frame: Reliable Reset
  docs/Settings.md
  docs/api/StreamShutdown.md
  scripts/test.ps1
  src/core/connection.c
  src/core/frame.c
  src/core/loss_detection.c
  src/core/send.c
  src/core/send.h
  src/core/sent_packet_metadata.c
  src/core/sent_packet_metadata.h
  src/core/stream.c
  src/core/stream.h
  src/core/stream_recv.c
  src/core/stream_send.c
  src/core/stream_set.c
  src/core/unittest/main.h
  src/cs/lib/msquic_generated.cs
  src/generated/linux/frame.c.clog.h
  src/generated/linux/frame.c.clog.h.lttng.h
  src/generated/linux/stream.c.clog.h
  src/generated/linux/stream.c.clog.h.lttng.h
  src/generated/linux/stream_recv.c.clog.h
  src/generated/linux/stream_recv.c.clog.h.lttng.h
  src/generated/linux/stream_send.c.clog.h
  src/generated/linux/stream_send.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/inc/msquicp.h
  src/manifest/MsQuicEtw.man
  src/manifest/clog.sidecar
  src/plugins/dbg/quictypes.h
  src/plugins/trace/dll/DataModel/QuicEvents.cs
  src/plugins/trace/dll/DataModel/QuicStream.cs
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/DataTest.cpp
  src/test/lib/EventTest.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: Documentation, Area: API, Area: Core
