Repository microsoft/msquic, pull requests merged in 2023-02, with the labels that each got.

#3392 fix dependency for rpm packages
  scripts/make-packages.sh
Labels: Area: Build, Area: Automation

#3389 Fix Disable Logs Build on Windows
  src/inc/quic_trace.h
Labels: Area: Build

#3388 Onboard Tests for OpenSSL 3
  .azure/azure-pipelines.ci.yml
  .azure/azure-pipelines.perf.yml
  .azure/azure-pipelines.periodic.yml
  CMakeLists.txt
  scripts/DotNetTest.ps1
  scripts/RemoteTests.json
  scripts/emulated-performance.ps1
  scripts/install-build-artifacts.ps1
  scripts/interop.ps1
  scripts/merge-coverage.ps1
  scripts/package-nuget.ps1
  scripts/performance.ps1
  scripts/prepare-machine.ps1
  scripts/spin.ps1
  scripts/test.ps1
  scripts/write-versions.ps1
  src/inc/msquicp.h
  src/platform/unittest/TlsTest.cpp
  src/test/bin/quic_gtest.cpp
  submodules/CMakeLists.txt
Labels: Area: Testing, TLS: OpenSSL, Area: Automation

#3381 Add test for async client certificate validation.
  docs/api/ConnectionCertificateValidationComplete.md
  src/core/api.c
  src/core/connection.c
  src/core/crypto.c
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/HandshakeTest.cpp
  src/test/lib/TestHelpers.h
Labels: Area: Testing

#3394 build libssl with no-seed
  submodules/CMakeLists.txt
Labels: TLS: OpenSSL

#3390 improve OpenSSL detection during build
  scripts/get-buildconfig.ps1
  submodules/CMakeLists.txt
Labels: Area: Build, TLS: OpenSSL

#3391 Add Support for Custom TLS Alert in Certificate Validation Failure
  docs/api/ConnectionCertificateValidationComplete.md
  scripts/generate-dotnet.ps1
  src/core/api.c
  src/core/api.h
  src/core/connection.c
  src/core/crypto.c
  src/core/crypto.h
  src/core/operation.h
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/lib.rs
  src/test/lib/TestConnection.cpp
  src/test/lib/TestConnection.h
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#3349 Upload linux perf command results
  docs/Diagnostics.md
  scripts/log.ps1
  scripts/performance-helper.psm1
  scripts/performance.ps1
  src/plugins/trace/README.md
  src/plugins/trace/images/wpa_perf_flamegraph.png
  src/plugins/trace/images/wpa_perf_line.png
Labels: OS: Ubuntu, Area: Performance, Area: Logging

#3401 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Automation

#3397 Reduce the Tests in Wan Perf
  .github/workflows/wan-perf.yml
Labels: Area: Performance, Area: Automation

#3408 CHANGED: Description of encrypt parameter in secnetperf
  src/perf/lib/ThroughputClient.cpp
Labels: external

#3407 Fix unknown callgraph issue
  CMakeLists.txt
Labels: OS: Ubuntu, Area: Performance, Area: Automation

#3402 Update PGO Script to Include OpenSSL3 PGD
  scripts/make-pgo-pr.ps1
Labels: Area: Performance, Area: Automation

#3411 Disable Expensive Logging Stuff for LTTng
  src/inc/quic_trace.h
Labels: OS: Ubuntu, Area: Performance

#3416 Disable OneBranch Windows OpenSSL arm64 Builds
  .azure/obtemplates/build-winuser.yml
Labels: Area: Build, OS: Windows (User), TLS: OpenSSL, Area: Automation

#3415 Improve libnuma Dependency Discovery
  CMakeLists.txt
  src/platform/platform_posix.c
Labels: Area: Build, OS: Ubuntu

#3417 [release/2.1] build libssl with no-seed (#3394)
  submodules/CMakeLists.txt
Labels: TLS: OpenSSL, Backport

#3424 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.openssl3.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Automation

#3409 Add GitHub Action to Build MsQuic
  .github/workflows/build.yml
  .github/workflows/cross-compile.yml
  scripts/build.ps1
  src/inc/quic_platform_posix.h
Labels: Area: Build, Area: Automation

#3428 Fix linux container image paths in OB pipeline
  .azure/OneBranch.Docker.Official.yml
  .azure/OneBranch.Official.yml
  .azure/OneBranch.PullRequest.yml
Labels: Area: Build, Area: Automation

#3423 make chacha optional on Linux
  CMakeLists.txt
  src/generated/linux/tls_openssl.c.clog.h
  src/generated/linux/tls_openssl.c.clog.h.lttng.h
  src/inc/quic_crypt.h
  src/platform/crypt_bcrypt.c
  src/platform/crypt_openssl.c
  src/platform/tls_openssl.c
  src/platform/unittest/TlsTest.cpp
Labels: TLS: OpenSSL

#3433 Move Stress Tests to GitHub
  .github/workflows/stress.yml
Labels: Area: Testing, Area: Stress, Area: Automation

#3434 More GitHub Automation Improvements
  .azure/azure-pipelines.ci.yml
  .github/workflows/build.yml
  .github/workflows/stress.yml
  scripts/prepare-machine.ps1
  scripts/spin.ps1
  src/platform/platform_worker.c
Labels: Area: Testing, Area: Stress, Area: Automation

#3437 Improvements to Trackdown Stress Failures
  .github/workflows/stress.yml
  src/platform/platform_worker.c
Labels: Area: Testing, Area: Stress

#3436 fix MAC_CTX creation with OpenSSL 3
  .azure/azure-pipelines.ci.yml
  src/platform/tls_openssl.c
Labels: TLS: OpenSSL

#3440 Fix Race Condition Between Enqueue and Dequeue of Event Queue
  src/inc/quic_platform_winuser.h
  src/platform/platform_worker.c
Labels: Area: Stress, OS: Windows (User), Bug: Platform

#3432 Fix Stream Blocked
  src/core/stream_set.c
Labels: Bug: Core

#3418 Fix Manual Flag for OpenSSL3 Perf Pipeline
  .azure/azure-pipelines.perf.yml
Labels: OS: Ubuntu, TLS: OpenSSL, Area: Performance, Area: Automation

#3442 Fix Recent Breaks in Unittests
  src/inc/quic_platform_posix.h
  src/inc/quic_platform_winuser.h
  src/platform/unittest/PlatformTest.cpp
  src/platform/unittest/TlsTest.cpp
Labels: Area: Testing

#3444 Fix Listener Use after Free in Cleanup Path
  src/core/listener.c
Labels: Bug: Core, Area: Stress

#3439 Update the Binding Lookup Logic to Match Server and Client Sockets
  src/core/library.c
Labels: OS: Ubuntu, Area: Core

#3438 Add static msquic archive to CMake install.
  src/bin/CMakeLists.txt
Labels: Area: Build, external

#3455 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.openssl3.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Automation

#3441 Disable Perf Counter Telemetry Asserts in Debug Mode
  src/core/library.c
Labels: Area: Testing, Area: Stress, Area: Core

#3457 Update NASM Version
  .azure/dockers/ob/windows/install-tools.ps1
  scripts/prepare-machine.ps1
Labels: Area: Build, OS: Windows (User), OS: Windows (Kernel)

#3451 Move BVTs to GitHub
  .github/workflows/bvt.yml
  CMakeLists.txt
  scripts/prepare-machine.ps1
  scripts/run-gtest.ps1
  scripts/test.ps1
  src/platform/unittest/DataPathTest.cpp
  src/platform/unittest/TlsTest.cpp
  src/platform/unittest/main.cpp
  src/test/bin/quic_gtest.cpp
  src/test/bin/quic_gtest.h
Labels: Area: Testing, Area: Automation

#3447 another attempt to fix quic loading when chacha is missing
  src/platform/crypt_openssl.c
Labels: TLS: OpenSSL

#3459 Few Fixes Identified On Twitter
  src/core/connection.c
  src/platform/hashtable.c
Labels: Bug: Core

#3446 QTIP (QUIC over TCP)
  .azure/azure-pipelines.perf.yml
  scripts/performance-helper.psm1
  scripts/performance.ps1
  src/core/connection.c
  src/core/path.c
  src/cs/lib/msquic_generated.cs
  src/generated/linux/datapath_raw.c.clog.h
  src/generated/linux/datapath_raw.c.clog.h.lttng.h
  src/generated/linux/datapath_raw_socket.c.clog.h
  src/generated/linux/datapath_raw_socket.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/quic_datapath.h
  src/perf/lib/SecNetPerfMain.cpp
  src/platform/datapath_raw.c
  src/platform/datapath_raw.h
  src/platform/datapath_raw_socket.c
  src/platform/datapath_raw_xdp.c
Labels: Area: Lola

#3458 Fix DatagramSend test by expecting multiple loss
  src/test/lib/DatagramTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#3461 Update NASM Version (#3457)
  .azure/dockers/ob/windows/install-tools.ps1
  scripts/prepare-machine.ps1
Labels: Area: Build, OS: Windows (User), OS: Windows (Kernel), Area: Automation

#3468 [Automated] Update PGO
  src/bin/winuser/pgo_x64/msquic.openssl.pgd
  src/bin/winuser/pgo_x64/msquic.openssl3.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.pgd
  src/bin/winuser/pgo_x64/msquic.schannel.xdp.pgd
Labels: Area: Performance, Area: Automation
