Repository microsoft/msquic, pull requests merged in 2024-09, with the labels that each got.

#4492 Treat CxPlatWorker as a full object
  src/core/library.c
  src/core/library.h
  src/core/worker.c
  src/inc/quic_datapath.h
  src/inc/quic_platform.h
  src/perf/lib/SecNetPerfMain.cpp
  src/perf/lib/Tcp.cpp
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_raw.c
  src/platform/datapath_raw.h
  src/platform/datapath_raw_dpdk.c
  src/platform/datapath_raw_dummy.c
  src/platform/datapath_raw_xdp_linux.c
  src/platform/datapath_raw_xdp_win.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/datapath_xplat.c
  src/platform/platform_internal.h
  src/platform/platform_posix.c
  src/platform/platform_winuser.c
  src/platform/platform_worker.c
  src/platform/unittest/DataPathTest.cpp
  src/platform/unittest/main.cpp
  src/test/bin/quic_gtest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
  src/tools/load/load.cpp
  src/tools/pcp/pcp.cpp
  src/tools/recvfuzz/recvfuzz.cpp
Labels: external

#4529 CxPlatTimespecToUs:Microsecond time conversion overflow on 32-bit unix platforms
  src/platform/platform_posix.c
Labels: OS: Ubuntu, external, Bug: Platform

#4527 Fix kqueue CSPLAT_SQE Type
  src/inc/quic_platform_posix.h
  src/platform/platform_posix.c
Labels: external, Bug: Platform

#4528 Disable port sharing mechanisms when running in single processor mode
  src/platform/datapath_epoll.c
  src/platform/datapath_winuser.c
  src/platform/unittest/DataPathTest.cpp
Labels: external

#4525 Change public headers to support msh3
  src/bin/CMakeLists.txt
Labels: Area: Build, external

#4530 Update WPA Plugin Installation Steps
  src/plugins/trace/README.md
Labels: Area: Documentation

#4488 Do not exit gracefully in error cases
  src/perf/bin/appmain.cpp
  src/perf/lib/PerfClient.cpp
  src/perf/lib/PerfClient.h
  src/perf/lib/PerfServer.cpp
  src/perf/lib/PerfServer.h
  src/perf/lib/SecNetPerf.h
  src/perf/lib/SecNetPerfMain.cpp
Labels: Area: Performance

#4519 Fix test failures from #4518
  .github/workflows/test.yml
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
Labels: Area: Testing, Bug: Test/Tool

#4532 Fix ETW Manifest Typo
  src/manifest/MsQuicEtw.man
Labels: Area: Logging

#4517 Prunable Pool Allocator
  src/core/worker.c
  src/generated/linux/platform_worker.c.clog.h
  src/generated/linux/platform_worker.c.clog.h.lttng.h
  src/inc/quic_platform.h
  src/inc/quic_platform_posix.h
  src/inc/quic_platform_winuser.h
  src/manifest/clog.sidecar
  src/perf/lib/Tcp.cpp
  src/platform/datapath_winuser.c
  src/platform/inline.c
  src/platform/platform_internal.h
  src/platform/platform_worker.c
  src/platform/unittest/DataPathTest.cpp
Labels: Area: Performance

#4536 Add a method to reject a TCP connection
  src/inc/quic_datapath.h
  src/perf/lib/Tcp.cpp
  src/perf/lib/Tcp.h
  src/platform/datapath_epoll.c
  src/platform/datapath_winuser.c
  src/platform/unittest/DataPathTest.cpp
Labels: external

#4535 Add global internal param to get default datapath worker pool
  src/core/library.c
  src/inc/msquicp.h
  src/test/lib/ApiTest.cpp
Labels: external

#4537 Fill out remote and local addresses on TCP server connection
  src/platform/datapath_epoll.c
  src/platform/datapath_winuser.c
  src/platform/unittest/DataPathTest.cpp
Labels: external

#4538 Fix Linux Send Complete Status
  src/platform/datapath_epoll.c
Labels: OS: Ubuntu, Bug: Platform

#4531 Improve Thread Creation Logic
  src/core/worker.c
  src/cs/lib/msquic_generated.cs
  src/generated/linux/platform_winuser.c.clog.h
  src/generated/linux/platform_winuser.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/quic_platform_winuser.h
  src/manifest/clog.sidecar
  src/perf/lib/PerfClient.cpp
  src/perf/lib/SecNetPerf.h
  src/perf/lib/SecNetPerfMain.cpp
  src/perf/lib/Tcp.cpp
  src/platform/platform_winuser.c
  src/platform/platform_worker.c
Labels: Area: API, Area: Logging, Bug: Platform

#4539 Better Support for Disabling Pool Allocations
  CMakeLists.txt
  src/inc/quic_platform_posix.h
  src/inc/quic_platform_winuser.h
Labels: Area: Performance

#4541 Set TCP listener created sockets to non blocking
  src/platform/datapath_epoll.c
Labels: external, Bug: Platform

#4543 Remove Unnecessary Unit Conversion
  src/core/bbr.c
Labels: Bug: Core

#4544 Set SO_REUSEADDR on epoll tcp listener sockets
  src/platform/datapath_epoll.c
Labels: external

#4555 [release/2.4] Backport infra packaging changes
  .github/workflows/package-linux.yml
  scripts/docker-script.sh
  src/cs/QuicSimpleTest/Program.cs
  src/cs/QuicSimpleTest/QuicHello.net8.0.csproj
  src/cs/QuicSimpleTest/QuicHello.net9.0.csproj
Labels: Partner: .NET

#4556 Change the CXPLAT LARGE IO BUFFER SIZE to 0xFFE3 on unix platforms.
  src/platform/datapath_epoll.c
Labels: OS: Ubuntu, external, Bug: Platform

#4557 Use Private Nuget Feed for OneBranch
  .azure/nuget.config
  .azure/obtemplates/build-winkernel.yml
  scripts/onebranch-build-kernel.cmd
Labels: Area: Build, Area: Security

#4560 Zero out memory from PacketNumber in QuicBindingPreprocessPacket
  src/core/binding.c
Labels: Bug: Core

#4561 Don't Access Volatile Variables Directly
  src/perf/lib/Tcp.cpp
Labels: Area: Build

#4554 Add Alpine packaging and testing github action workflow
  .github/workflows/package-alpine-linux.yml
  docs/Release.md
  scripts/alpine-configure-packaging-key.sh
  scripts/alpine-generate-hash.sh
  scripts/docker-script.sh
  scripts/generate-alpine-packaging-file.ps1
  scripts/package-build.sh
  scripts/templates/APKBUILD.template
Labels: Area: Build, Area: Packaging, Partner: .NET

#4573 Update Down Level Tests to Latest Release Versions
  .github/workflows/test-down-level.yml
Labels: Area: Testing, Area: Automation

#4576 Publish NuGet Packages Automatically
  .azure/OneBranch.Official.yml
  .azure/obtemplates/build-nuget.yml
  docs/Release.md
Labels: Area: Build, Area: Automation, Area: Packaging

#4582 Fix typo from #4576
  .azure/obtemplates/build-nuget.yml
Labels: Area: Build, Area: Automation, Area: Packaging
