Repository microsoft/msquic, pull requests merged in 2025-06, with the labels that each got.

#5107 Resend Close Frames
  src/core/api.c
  src/core/api.h
  src/core/binding.c
  src/core/connection.c
  src/core/connection.h
  src/core/quicdef.h
  src/core/send.c
Labels: Area: Core

#5125 Fix the AckSendDelay test
  src/test/lib/DataTest.cpp
Labels: Area: Testing

#5146 Implement packet number skipping for attack detection and improve security
  src/core/loss_detection.c
  src/core/packet_builder.c
  src/core/send.c
  src/core/send.h
  src/generated/linux/loss_detection.c.clog.h
  src/generated/linux/loss_detection.c.clog.h.lttng.h
  src/generated/linux/packet_builder.c.clog.h
  src/generated/linux/packet_builder.c.clog.h.lttng.h
  src/manifest/clog.sidecar
Labels: Area: Security, Area: Core

#5147 Add Kernel Static Assert Correct Version is Targetted
  src/inc/quic_platform_winkernel.h
Labels: Area: Build, OS: Windows (Kernel)

#5152 Define NTDDI_VERSION in Code
  src/inc/quic_platform_winkernel.h
Labels: Area: Build, OS: Windows (Kernel)

#5153 CP: Define NTDDI_VERSION in Code (#5152)
  src/inc/quic_platform_winkernel.h
Labels: Area: Build

#5155 CP: Define NTDDI_VERSION in Code (#5152)
  src/inc/quic_platform_winkernel.h
Labels: Area: Build

#5154 CP: Define NTDDI_VERSION in Code (#5152)
  src/inc/quic_platform_winkernel.h
Labels: Area: Build

#5119 Added GetParam for Network Statistics
  docs/Settings.md
  docs/api/QUIC_CONNECTION_EVENT.md
  src/core/bbr.c
  src/core/congestion_control.h
  src/core/connection.c
  src/core/cubic.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/rs/ffi/linux_bindings.rs
  src/rs/ffi/win_bindings.rs
  src/rs/lib.rs
  src/test/lib/ApiTest.cpp
Labels: external, Area: API

#5130 Fix DSCP detection on Windows. Add DSCP support to SecNetPerf
  src/inc/quic_datapath.h
  src/perf/lib/PerfClient.cpp
  src/perf/lib/PerfServer.cpp
  src/perf/lib/SecNetPerf.h
  src/perf/lib/SecNetPerfMain.cpp
  src/perf/readme.md
  src/platform/datapath_epoll.c
  src/platform/datapath_raw.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/unittest/DataPathTest.cpp
Labels: Area: Performance, Bug: Platform

#5133 Add Writability to Storage Abstraction
  src/core/configuration.c
  src/core/library.c
  src/core/unittest/SettingsTest.cpp
  src/generated/linux/storage_winuser.c.clog.h
  src/generated/linux/storage_winuser.c.clog.h.lttng.h
  src/inc/quic_storage.h
  src/platform/storage_posix.c
  src/platform/storage_winkernel.c
  src/platform/storage_winuser.c
  src/test/bin/quic_gtest.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/precomp.h
Labels: OS: Windows (User), OS: Windows (Kernel)

#5179 Fix quictls static assert
  src/platform/tls_quictls.c
Labels: Area: Build, TLS: OpenSSL

#5112 Allow Configuration of Stateless Retry Key
  docs/Settings.md
  docs/api/QUIC_STATELESS_RETRY_CONFIG.md
  src/core/library.c
  src/core/library.h
  src/core/partition.c
  src/core/partition.h
  src/core/quicdef.h
  src/core/unittest/main.h
  src/cs/lib/msquic_generated.cs
  src/generated/linux/library.c.clog.h
  src/generated/linux/library.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/quic_crypt.h
  src/inc/quic_sal_stub.h
  src/inc/quic_storage.h
  src/manifest/clog.sidecar
  src/platform/storage_winkernel.c
  src/rs/ffi/linux_bindings.rs
  src/rs/ffi/win_bindings.rs
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/ApiTest.cpp
  src/test/lib/TestHelpers.h
  src/test/lib/precomp.h
Labels: Area: API, Area: Core

#5159 Update Release process doc
  docs/Release.md
Labels: Area: Documentation
