Repository microsoft/msquic, pull requests merged in 2025-04, with the labels that each got.

#4943 Refactor State Isolation into Partitions
  scripts/clog.inputs
  src/core/CMakeLists.txt
  src/core/api.c
  src/core/binding.c
  src/core/binding.h
  src/core/connection.c
  src/core/connection.h
  src/core/connection_pool.c
  src/core/core.kernel.vcxproj
  src/core/crypto.c
  src/core/datagram.c
  src/core/inline.c
  src/core/library.c
  src/core/library.h
  src/core/listener.c
  src/core/loss_detection.c
  src/core/operation.c
  src/core/operation.h
  src/core/packet.c
  src/core/packet_builder.c
  src/core/packet_space.c
  src/core/partition.c
  src/core/partition.h
  src/core/precomp.h
  src/core/send.c
  src/core/stream.c
  src/core/stream_recv.c
  src/core/stream_send.c
  src/core/unittest/SettingsTest.cpp
  src/core/worker.c
  src/core/worker.h
  src/generated/linux/library.c.clog.h
  src/generated/linux/library.c.clog.h.lttng.h
  src/generated/linux/partition.c.clog.h
  src/generated/linux/partition.c.clog.h.lttng.h
  src/generated/linux/quic.clog_partition.c.clog.h.c
  src/generated/linux/worker.c.clog.h
  src/generated/linux/worker.c.clog.h.lttng.h
Labels: Area: Core

#4961 Add documentation for QTIP in Settings/QUIC Settings
  docs/QTIP.md
  docs/Settings.md
  docs/api/QUIC_SETTINGS.md
  src/test/lib/DataTest.cpp
  src/tools/attack/attack.cpp
Labels: Area: Documentation

#4971 Update docs and gitignore after publishing Alpine package from v2.4.8
  .gitignore
  docs/Release.md
Labels: Area: Documentation, Area: Packaging, Partner: .NET

#4977 Epoll TCP accept load balancing and code clean up
  src/platform/datapath_epoll.c
Labels: OS: Linux

#4973 Avoid Batching of Packets with Different Keys
  src/core/connection.c
Labels: Bug: Core

#4979 Rust: Fix rust ci build
  .github/workflows/cargo.yml
  rust-toolchain.toml
  src/rs/error.rs
Labels: Area: Build, Area: Automation, Language: Rust

#4967 Update documentation to clarify API ordering constraints
  docs/Streams.md
  docs/api/ConfigurationClose.md
  docs/api/ConnectionClose.md
  docs/api/ListenerClose.md
  docs/api/StreamClose.md
  docs/api/StreamReceiveComplete.md
  docs/api/StreamReceiveSetEnabled.md
  src/core/stream.c
Labels: Area: Documentation, Area: API

#4978 Rust: Add get stream id API
  src/rs/lib.rs
  src/rs/server_client_test.rs
Labels: Language: Rust

#4986 Change Formatting of QUIC Version Trace
  src/core/connection.c
  src/generated/linux/connection.c.clog.h
  src/generated/linux/connection.c.clog.h.lttng.h
  src/manifest/clog.sidecar
Labels: Area: Logging

#4988 Disable Parallel Builds for Rust on Windows
  scripts/build.rs
Labels: Area: Build, Language: Rust

#4989 Update Release Docs for Cargo Publish
  docs/Release.md
Labels: Area: Documentation, Language: Rust

#4991 Increase Kernel Test Timeout to 120 Minutes
  .github/workflows/test.yml
  src/platform/platform_worker.c
Labels: Area: Testing, OS: Windows (Kernel), Area: Automation

#4895 RecvBuffer simplifications [1/N]
  src/core/recv_buffer.c
  src/core/recv_buffer.h
Labels: Area: Core

#4998 Fix non-Preview Builds
  .github/workflows/build-reuse-win.yml
  .github/workflows/build.yml
  src/test/bin/quic_gtest.cpp
  src/test/lib/DataTest.cpp
Labels: Area: Build, Area: Testing, Area: Automation

#5000 Document the lifetime of the QUIC_BUFFER array in receive events
  docs/Streams.md
  docs/api/QUIC_STREAM_EVENT.md
Labels: Area: Documentation, Area: API

#5001 Fix secnetperf calling some cxplat functions twice
  src/platform/platform_posix.c
  src/platform/platform_winuser.c
Labels: OS: Windows (User), OS: Linux

#4992 Publish a PR comment when rust bindings need to be updated
  .github/workflows/cargo.yml
Labels: Area: Automation

#5002 Print out when test cases are skipped
  scripts/run-gtest.ps1
Labels: Area: Testing

#4993 Fix a race condition in TCP epoll code
  src/perf/lib/Tcp.cpp
  src/perf/lib/Tcp.h
Labels: OS: Linux

#5008 Update build documentation
  docs/BUILD.md
Labels: Area: Documentation

#5009 Temporarily Disable the Flaky ConnectValidClientCertificate Test on windows-2025 GitHub Runner
  src/test/bin/quic_gtest.cpp
Labels: Area: Testing

#5014 Fix a memory corruption in secnetperf
  src/perf/lib/PerfClient.cpp
Labels: OS: Linux

#4990 Refactor Platform Worker Pool Initialization
  src/core/library.c
  src/core/library.h
  src/core/worker.c
  src/generated/linux/platform_worker.c.clog.h
  src/generated/linux/platform_worker.c.clog.h.lttng.h
  src/inc/quic_platform.h
  src/perf/lib/SecNetPerfMain.cpp
  src/perf/lib/Tcp.cpp
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_raw.c
  src/platform/datapath_raw_xdp_linux.c
  src/platform/datapath_raw_xdp_win.c
  src/platform/datapath_winuser.c
  src/platform/platform_internal.h
  src/platform/platform_worker.c
  src/platform/unittest/DataPathTest.cpp
  src/platform/unittest/main.cpp
  src/test/bin/quic_gtest.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
  src/tools/load/load.cpp
  src/tools/pcp/pcp.cpp
  src/tools/recvfuzz/recvfuzz.cpp
Labels: Area: Core

#5016 Prevent duplicate definitions of CXPLAT_DBG_ASSERT
  src/fuzzing/fuzz.cc
Labels: Area: Build, external

#5017 Disable SIGPIPE signal on epoll TCP send
  src/platform/datapath_epoll.c
Labels: OS: Linux

#5015 Refactor TCP Security Config for Reuse on Client Connections
  src/perf/lib/PerfClient.cpp
  src/perf/lib/PerfClient.h
  src/perf/lib/PerfServer.h
  src/perf/lib/Tcp.cpp
  src/perf/lib/Tcp.h
  src/platform/datapath_epoll.c
Labels: Area: Performance

#5022 Delete TCP C++ Copy/Move Functions
  src/perf/lib/Tcp.h
Labels: Area: Build

#5021 Fix Socket Context Initialize Code Paths
  src/platform/datapath_epoll.c
Labels: OS: Linux, Bug: Platform

#5023 Sum Throughput Rates Across Streams/Connections
  scripts/secnetperf-helpers.psm1
  src/perf/lib/PerfClient.cpp
  src/perf/lib/PerfClient.h
Labels: Area: Performance

#5026 Set linger socket option to prevent TIME_WAIT for HPS scenario to work repeatedly
  src/platform/datapath_epoll.c
Labels: OS: Linux

#5033 Rust: disable cmake-rs --parallel option on windows
  scripts/build.rs
Labels: Area: Build, Language: Rust

#5032 Fix the QUIC_HANDSHAKE_INFO Test to Allow for Future Versions to Grow Size
  src/test/lib/ApiTest.cpp
Labels: Bug: Test/Tool

#5037 Print connections and stream number for more useful throughput data
  src/perf/lib/PerfClient.cpp
Labels: Area: Testing, external

#5035 Fix the QUIC_HANDSHAKE_INFO Test to Allow for Future Versions to Grow Size (#5032)
  .azure/OneBranch.Package.yml
  CMakeLists.txt
  Cargo.toml
  scripts/package-distribution.ps1
  scripts/package-nuget.ps1
  scripts/write-versions.ps1
  src/distribution/Info.plist
  src/inc/msquic.ver
  src/test/lib/ApiTest.cpp
  version.json
Labels: Area: Testing, Bug: Test/Tool

#5036 Fix the QUIC_HANDSHAKE_INFO Test to Allow for Future Versions to Grow Size (#5032)
  .azure/OneBranch.Package.yml
  CMakeLists.txt
  Cargo.toml
  scripts/package-distribution.ps1
  scripts/package-nuget.ps1
  scripts/write-versions.ps1
  src/distribution/Info.plist
  src/inc/msquic.ver
  src/test/lib/ApiTest.cpp
  version.json
Labels: Area: Testing, Bug: Test/Tool

#5025 Shutdown Connections on QuicTestHandshakeSpecificLossPatterns Exit
  src/test/lib/HandshakeTest.cpp
Labels: Area: Testing

#5041 Fix Recent ADO YAML Break
  .azure/obtemplates/build-linux.yml
Labels: Area: Build, Area: Automation

#5019 Updates the Ubuntu 22.04 Docker File Dependency
  .docker/ubuntu-22.04/Dockerfile
Labels: OS: Linux, dependencies

#5045 Remove quictls UWP Nuget Package Download
  .azure/obtemplates/build-nuget.yml
Labels: Area: Build, Area: Automation

#5046 More ADO NuGet Pipeline Fixes
  .azure/obtemplates/build-nuget.yml
Labels: Area: Build, Area: Automation

#4975 RecvBuffer simplifications [2/N]
  src/core/recv_buffer.c
  src/core/recv_buffer.h
Labels: Area: Core

#5049 Always use host silo for ETW registration
  src/bin/winkernel/driver.c
  src/core/configuration.c
  src/core/listener.c
  src/inc/quic_platform_winkernel.h
Labels: OS: Windows (Kernel)

#5057 Backport ETW silo fix to v2.3
  .azure/OneBranch.Package.yml
  .github/workflows/build-reuse-unix.yml
  .github/workflows/test-down-level.yml
  CMakeLists.txt
  Cargo.toml
  scripts/package-distribution.ps1
  scripts/package-nuget.ps1
  scripts/write-versions.ps1
  src/bin/winkernel/driver.c
  src/core/configuration.c
  src/core/listener.c
  src/distribution/Info.plist
  src/inc/msquic.ver
  src/inc/quic_platform_winkernel.h
  version.json
Labels: Bug: Platform, Backport

#5058 Backport ETW silo fix to v2.4
  .azure/OneBranch.Package.yml
  .github/workflows/build.yml
  .github/workflows/test-down-level.yml
  CMakeLists.txt
  Cargo.toml
  scripts/build.ps1
  scripts/package-distribution.ps1
  scripts/package-nuget.ps1
  scripts/write-versions.ps1
  src/bin/winkernel/driver.c
  src/core/configuration.c
  src/core/listener.c
  src/distribution/Info.plist
  src/inc/msquic.ver
  src/inc/quic_platform_winkernel.h
  src/tools/forwarder/forwarder.cpp
  src/tools/interopserver/InteropServer.cpp
  src/tools/ip/server/quicipserver.cpp
  src/tools/lb/loadbalancer.cpp
  src/tools/sample/sample.c
  version.json
Labels: Bug: Platform, Backport

#4900 Prevent the receive completion operation queued if unnecessary
  src/core/api.c
  src/core/stream.h
  src/core/stream_recv.c
  src/inc/quic_platform_posix.h
  src/platform/inline.c
  src/plugins/dbg/quictypes.h
Labels: external, Area: Core

#5060 Update Down Level Tests to Latest
  .github/workflows/test-down-level.yml
Labels: Area: Testing, Area: Automation
