Repository microsoft/msquic, pull requests merged in 2025-05, with the labels that each got.

#5030 Expose TLS Group through MsQuic API
  docs/api/QUIC_HANDSHAKE_INFO.md
  src/core/settings.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/inc/quic_platform.h
  src/perf/lib/SecNetPerf.h
  src/platform/tls_quictls.c
  src/platform/tls_schannel.c
  src/rs/ffi/linux_bindings.rs
  src/rs/ffi/win_bindings.rs
Labels: TLS: OpenSSL, TLS: Schannel, Area: API

#5063 Randomize Base Address in Kernel Projects
  src/bin/winkernel/msquic.kernel.vcxproj
  src/bin/winkernel/msquicpriv.kernel.vcxproj
  src/perf/bin/secnetperfdriver.kernel.vcxproj
  src/perf/bin/secnetperfdriverpriv.kernel.vcxproj
Labels: Area: Build, OS: Windows (Kernel)

#5067 Increase Retry Limit for Key/CID Update Tests
  src/test/lib/TestConnection.cpp
Labels: Area: Testing, Area: Automation

#5066 Clean up the Ubuntu build excludes
  .github/workflows/build.yml
Labels: Area: Build, OS: Linux, Area: Automation

#5062 RecvBuffer simplifications [3/N]
  src/core/recv_buffer.c
  src/core/unittest/RecvBufferTest.cpp
Labels: Area: Core

#5075 gamecore: allow non-system32 DLLs to be loaded
  CMakeLists.txt
Labels: Area: Build, OS: Windows (User)

#5076 Allow update-sidecar to run on newer framework versions
  scripts/update-sidecar.ps1
Labels: Area: Build, Area: Logging

#5077 Upload rust binding diff as an artifact
  .github/workflows/cargo.yml
Labels: Area: Build, Area: Automation

#5059 Refactor Global Execution Config Flags
  .github/workflows/build.yml
  docs/Settings.md
  docs/api/QUIC_SETTINGS.md
  scripts/build.ps1
  src/core/connection.c
  src/core/connection_pool.c
  src/core/library.c
  src/core/listener.c
  src/core/quicdef.h
  src/core/settings.c
  src/core/settings.h
  src/core/unittest/PartitionTest.cpp
  src/core/unittest/SettingsTest.cpp
  src/core/unittest/VersionNegExtTest.cpp
  src/core/unittest/main.cpp
  src/cs/lib/msquic_generated.cs
  src/generated/linux/datapath_winuser.c.clog.h
  src/generated/linux/datapath_winuser.c.clog.h.lttng.h
  src/generated/linux/datapath_xplat.c.clog.h
  src/generated/linux/datapath_xplat.c.clog.h.lttng.h
  src/generated/linux/library.c.clog.h
  src/generated/linux/library.c.clog.h.lttng.h
  src/generated/linux/settings.c.clog.h
  src/generated/linux/settings.c.clog.h.lttng.h
  src/inc/msquic.h
  src/inc/msquic.hpp
  src/inc/quic_datapath.h
  src/inc/quic_platform.h
  src/inc/quic_sal_stub.h
  src/manifest/clog.sidecar
  src/perf/lib/PerfClient.cpp
  src/perf/lib/PerfClient.h
  src/perf/lib/SecNetPerfMain.cpp
  src/platform/datapath_epoll.c
  src/platform/datapath_kqueue.c
  src/platform/datapath_raw.c
  src/platform/datapath_raw.h
  src/platform/datapath_raw_dpdk.c
  src/platform/datapath_raw_dummy.c
  src/platform/datapath_raw_xdp_linux.c
  src/platform/datapath_raw_xdp_win.c
  src/platform/datapath_winkernel.c
  src/platform/datapath_winuser.c
  src/platform/datapath_xplat.c
  src/platform/platform_internal.h
  src/platform/platform_worker.c
  src/platform/unittest/DataPathTest.cpp
  src/rs/ffi/linux_bindings.rs
  src/rs/ffi/win_bindings.rs
  src/test/MsQuicTests.h
  src/test/bin/quic_gtest.cpp
  src/test/bin/winkernel/control.cpp
  src/test/lib/QuicDrill.cpp
  src/tools/attack/attack.cpp
  src/tools/lb/loadbalancer.cpp
  src/tools/load/load.cpp
  src/tools/pcp/pcp.cpp
  src/tools/recvfuzz/recvfuzz.cpp
  src/tools/spin/spinquic.cpp
Labels: Area: API, Area: Core

#5083 Readme Tweaks
  README.md
Labels: Area: Documentation

#5089 Add XDP Interop Test
  .github/workflows/test.yml
  src/tools/interop/interop.cpp
Labels: Area: Testing

#5090 Fix Rebind for Raw Datapath
  src/core/connection.c
  src/platform/datapath_raw_socket_win.c
  src/platform/datapath_raw_xdp_linux.c
  src/platform/datapath_raw_xdp_win.c
Labels: Area: Core

#5087 Refactor Receive Fuzzer
  src/core/CMakeLists.txt
  src/core/crypto.c
  src/inc/msquichelper.h
  src/test/lib/DrillDescriptor.cpp
  src/tools/attack/attack.cpp
  src/tools/recvfuzz/CMakeLists.txt
  src/tools/recvfuzz/recvfuzz.cpp
Labels: Area: Testing, Area: Stress, Area: Automation, Area: Security

#5091 Remove DataIndication Queuing from Kernel Datapath
  src/generated/linux/datapath_winkernel.c.clog.h
  src/generated/linux/datapath_winkernel.c.clog.h.lttng.h
  src/platform/datapath_winkernel.c
Labels: OS: Windows (Kernel)

#5102 Forked release/2.5 Branch
  .azure/OneBranch.Package.yml
  CMakeLists.txt
  Cargo.toml
  docs/Release.md
  scripts/package-distribution.ps1
  scripts/package-nuget.ps1
  scripts/write-versions.ps1
  src/distribution/Info.plist
  src/inc/msquic.ver
  version.json
Labels: Area: Documentation, Area: Core

#5111 Add Support for GetParam for Stat Sizes
  docs/Settings.md
  docs/api/GetParam.md
  src/core/library.c
  src/cs/lib/msquic_generated.cs
  src/inc/msquic.h
  src/rs/ffi/linux_bindings.rs
  src/rs/ffi/win_bindings.rs
  src/test/lib/ApiTest.cpp
Labels: Area: API
